Repository scality/metalk8s, pull requests merged in 2018-08, with the labels that each got.

#240 Update `cryptography` version to 2.3
  ChangeLog.rst
  requirements.txt
  tests/requirements.txt
  tox.ini
Labels: security

#183 Metalk8s storage split
  playbooks/storage-pre.yml
  roles/metalk8s_lvm_vg/defaults/main.yml
  roles/metalk8s_lvm_vg/meta/main.yml
  roles/metalk8s_lvm_vg/tasks/main.yml
  roles/setup_lvm_lv/tasks/main.yml
  roles/setup_lvm_vg/tasks/main.yml
Labels: enhancement, storage

#245 docs: Integrate `sphinx-autobuild`
  docs/Makefile
  docs/requirements.in
  docs/requirements.txt
  tox.ini
Labels: docs, enhancement

#244 kube_prometheus: Increase `prometheus-operator` install timeout
  ChangeLog.rst
  roles/kube_prometheus/defaults/main.yml
  roles/kube_prometheus/tasks/main.yml
Labels: deployment, enhancement

#243 docs: Document 'install prometheus-operator' failure
  docs/faq.rst
  docs/glossary.rst
  docs/index.rst
Labels: deployment, docs, enhancement, operations

#222 Support `url` modules in `check-vendor` and update dashboards
  ChangeLog.rst
  hack/check-vendor.py
  roles/kube_prometheus/Makefile
  roles/kube_prometheus/files/additional-dashboards/kube-prometheus-elasticsearch-dashboard.yml
  roles/kube_prometheus/files/additional-dashboards/kube-prometheus-node-exporter-dashboard.yml
  third-party.yaml
  vendor/justwatchcom/elasticsearch_exporter/examples/grafana/dashboard.json
  vendor/rfrail3/grafana-dashboards/prometheus/node-exporter-full-old.json
Labels: enhancement, operations

#272 docs: Add `doc8`
  docs/architecture/cluster-services.rst
  docs/requirements.in
  docs/requirements.txt
  docs/usage/quickstart.rst
  tox.ini
Labels: docs, enhancement
