Repository scality/metalk8s, pull requests merged in 2018-07, with the labels that each got.

#101 kube_prometheus: Fix Prometheus UI URL
  roles/kube_prometheus/templates/prometheus_values.yml
Labels: bug, good first issue, operations

#104 Prepare Kubernetes 1.11
  group_vars/k8s-cluster/10-metal-k8s.yml
  metal-k8s.yml
  roles/prepare_os/defaults/main.yml
  roles/prepare_os/meta/main.yml
  roles/prepare_os/tasks/main.yml
Labels: enhancement, help wanted, networking, operations, security

#106 Move all Ansible playbooks under `playbooks/`
  .gitignore
  Dockerfile
  docs/usage/quickstart.rst
  group_vars/k8s-cluster/00-kubespray-k8s-cluster.yml
  metal-k8s.yml
  playbooks/deploy.yml
  playbooks/group_vars/etcd/10-metal-k8s.yml
  playbooks/group_vars/k8s-cluster/00-kubespray-k8s-cluster.yml
  playbooks/group_vars/k8s-cluster/10-metal-k8s.yml
  playbooks/init.yml
  playbooks/kubespray-pre.yml
  playbooks/reclaim-storage.yml
  playbooks/roles
  playbooks/scale.yml
  playbooks/services.yml
  playbooks/storage-post.yml
  playbooks/storage-pre.yml
  tests/single-node/test.sh
  vendor/kubespray/group_vars
Labels: enhancement, help wanted, operations

#109 README: Mention `python-dev` and `gcc` requirements
  README.md
Labels: docs, enhancement, good first issue

#113 Improvement/use node exporter pkg
  playbooks/services.yml
  roles/kube_prometheus/templates/prometheus_values.yml
  roles/kube_prometheus_node_exporter/README.md
  roles/kube_prometheus_node_exporter/files/node_exporter.yaml
  roles/kube_prometheus_node_exporter/meta/main.yml
  roles/kube_prometheus_node_exporter/tasks/main.yml
  roles/kube_prometheus_node_exporter/templates/endpoints.yaml.j2
  roles/node_exporter/defaults/main.yml
  roles/node_exporter/meta/main.yml
  roles/node_exporter/tasks/main.yml
  tests/single-node/test.sh
Labels: enhancement, operations

#112 Makefile: Don't force interactive shells
  Makefile
  hack/shell-bashrc
Labels: bug

#111 Add ChangeLog and infrastructure
  ChangeLog.rst
  docs/changes.rst
  docs/conf.py
  docs/index.rst
  docs/requirements.in
  docs/requirements.txt
Labels: docs, help wanted

#117 Elasticsearch metrics are being captured
  ChangeLog.rst
Labels: docs

#118 Update `requirements.txt`
  requirements.txt
Labels: bug, good first issue

#125 Bump versions etc. after 0.1.0 release
  ChangeLog.rst
  docs/conf.py
Labels: docs

#131 Elasticsearch: Set up Pod anti-affinity
  ChangeLog.rst
  vendor/kubernetes-elasticsearch-cluster/es-ingest.yaml
  vendor/kubernetes-elasticsearch-cluster/es-master.yaml
  vendor/kubernetes-elasticsearch-cluster/stateful/es-data-stateful.yaml
Labels: bug, operations

#133 kube_prometheus: Use upstream 'external node_exporter' feature
  playbooks/services.yml
  roles/kube_prometheus/defaults/main.yml
  roles/kube_prometheus/tasks/main.yml
  roles/kube_prometheus/templates/prometheus_values.yml
  roles/kube_prometheus_node_exporter/README.md
  roles/kube_prometheus_node_exporter/files/node_exporter.yaml
  roles/kube_prometheus_node_exporter/meta/main.yml
  roles/kube_prometheus_node_exporter/tasks/main.yml
  roles/kube_prometheus_node_exporter/templates/endpoints.yaml.j2
Labels: enhancement, operations

#134 Dockerfile: Fix `bash-completion`
  ChangeLog.rst
  Dockerfile
Labels: bug, enhancement, good first issue, operations

#132 playbooks: Fix `services` playbook
  ChangeLog.rst
  playbooks/services.yml
  tests/single-node/test.sh
Labels: bug, operations

#136 Tests: Fix 're-deploy' test
  tests/single-node/test.sh
Labels: tests

#127 kube_elasticsearch: Deploy Cerebro
  ChangeLog.rst
  docs/_static/theme-overrides.css
  docs/architecture/cluster-services.rst
  docs/conf.py
  docs/usage/quickstart.rst
  roles/kube_elasticsearch/defaults/main.yml
  roles/kube_elasticsearch/tasks/main.yml
Labels: enhancement, good first issue, operations

#130 Implement an example role unit-test
  roles/node_exporter/.yamllint
  roles/node_exporter/defaults/main.yml
  roles/node_exporter/meta/main.yml
  roles/node_exporter/molecule/default/Dockerfile.j2
  roles/node_exporter/molecule/default/molecule.yml
  roles/node_exporter/molecule/default/playbook.yml
  roles/node_exporter/molecule/default/prepare.yml
  roles/node_exporter/molecule/default/tests/test_default.py
  roles/node_exporter/tasks/main.yml
  tests/requirements.in
  tests/requirements.txt
  tox.ini
Labels: enhancement, tests

#140 kube_prometheus: Monitor CoreDNS
  ChangeLog.rst
  roles/kube_prometheus/templates/prometheus_values.yml
Labels: enhancement, good first issue, operations

#151 Fix `var` clause of `debug` steps
  ChangeLog.rst
  roles/kube_elasticsearch/tasks/main.yml
  roles/kube_heapster/tasks/main.yml
Labels: bug, good first issue

#145 Update Cerebro
  ChangeLog.rst
  roles/kube_elasticsearch/defaults/main.yml
  roles/kube_elasticsearch/files/cerebro-values.yml
  roles/kube_elasticsearch/tasks/main.yml
Labels: enhancement, operations

#154 Rework logging architecture
  ChangeLog.rst
  docs/architecture/cluster-services.rst
  playbooks/services.yml
  roles/cluster_logging/defaults/main.yml
  roles/cluster_logging/files/cerebro/values.yml
  roles/cluster_logging/files/elasticsearch-exporter/servicemonitor.yml
  roles/cluster_logging/files/elasticsearch-exporter/values.yml
  roles/cluster_logging/files/fluent-bit/values.yml
  roles/cluster_logging/files/fluentd/values.yml
  roles/cluster_logging/files/kibana/values.yml
  roles/cluster_logging/meta/main.yml
  roles/cluster_logging/tasks/cerebro.yml
  roles/cluster_logging/tasks/elasticsearch-exporter.yml
  roles/cluster_logging/tasks/elasticsearch.yml
  roles/cluster_logging/tasks/fluent-bit.yml
  roles/cluster_logging/tasks/fluentd.yml
  roles/cluster_logging/tasks/kibana.yml
  roles/cluster_logging/tasks/main.yml
  roles/kube_elasticsearch/files/fluentd-elasticsearch-values.yml
  roles/kube_elasticsearch/tasks/main.yml
  third-party.yaml
Labels: design, enhancement, operations

#158 Fix: #150 yaml formating of grafana dashboards
  ChangeLog.rst
  roles/kube_prometheus/files/additionnal_dashboard.yml
  roles/kube_prometheus/hack/aggregate_dashboard.py
Labels: bug, operations

#166 docs: Update ChangeLog for #163
  ChangeLog.rst
Labels: docs

#164 docs: Bump version to 0.2
  docs/conf.py
Labels: docs

#167 Deploy Helm through kubectl
  ChangeLog.rst
  playbooks/group_vars/k8s-cluster/10-metal-k8s.yml
  playbooks/services.yml
  roles/helm_install/defaults/main.yml
  roles/helm_install/meta/main.yml
  roles/helm_install/tasks/download.yml
  roles/helm_install/tasks/install_tiller.yml
  roles/helm_install/tasks/main.yml
  roles/helm_install/templates/rbac.yaml.j2
  roles/helm_install/templates/tiller_manifests.yaml.j2
Labels: enhancement, operations

#171 Fixup `ChangeLog.rst`
  ChangeLog.rst
Labels: docs

#172 docs: Add a TOC in the `Changes` page
  docs/changes.rst
Labels: docs, enhancement

#169 Properly vendor all Grafana dashboards
  roles/kube_prometheus/README.md
  roles/kube_prometheus/aggregate_dashboard.ini
  roles/kube_prometheus/hack/aggregate_dashboard.py
  third-party.yaml
  vendor/grafana/grafana/public/app/plugins/datasource/prometheus/dashboards/prometheus_2_stats.json
  vendor/justwatchcom/elasticsearch_exporter/examples/grafana/dashboard.json
  vendor/rfrail3/grafana-dashboards/prometheus/node-exporter-full.json
Labels: enhancement, good first issue, operations

#94 Flatten persistent storage configuration
  ChangeLog.rst
  docs/architecture/storage.rst
  docs/usage/quickstart.rst
  playbooks/storage-post.yml
  playbooks/storage-pre.yml
  roles/kube_lvm_storage/defaults/main.yml
  roles/kube_lvm_storage/meta/main.yml
  roles/kube_lvm_storage/tasks/main.yml
  roles/kube_lvm_storage/templates/local-pv.yml.j2
  roles/kube_lvm_storageclass/defaults/main.yml
  roles/kube_lvm_storageclass/filter_plugins/size_lvm_to_k8s.py
  roles/kube_lvm_storageclass/meta/main.yml
  roles/kube_lvm_storageclass/tasks/main.yml
  roles/kube_lvm_storageclass/templates/local-pv.yml.j2
  roles/kube_lvm_storageclass/templates/local-storageclass.yml.j2
  roles/setup_lvm/defaults/main.yml
  roles/setup_lvm/tasks/main.yml
  roles/setup_lvm_lv/defaults/main.yml
  roles/setup_lvm_lv/meta/main.yml
  roles/setup_lvm_lv/tasks/main.yml
  roles/setup_lvm_lv/vars/main.yml
  roles/setup_lvm_vg/defaults/main.yml
  roles/setup_lvm_vg/meta/main.yml
  roles/setup_lvm_vg/tasks/main.yml
  tests/single-node/inventory/group_vars/k8s-cluster/single_node.yml
  tests/single-node/test.sh
Labels: operations, storage

#182 Documentation amendments for 0.2.0
  ChangeLog.rst
  README.md
  docs/architecture/storage.rst
  docs/glossary.rst
  docs/index.rst
  docs/usage/quickstart.rst
Labels: docs

#184 Release: Prepare 0.2.0
  ChangeLog.rst
  docs/conf.py
Labels: docs

#186 docs: Update version to `1.0.0-dev`
  ChangeLog.rst
  docs/conf.py
Labels: docs

#187 cluster_logging: No longer remove the 'old' ES
  ChangeLog.rst
  roles/cluster_logging/tasks/main.yml
  roles/cluster_logging/tasks/remove-old-elasticsearch.yml
Labels: operations

#188 Grafana: Rename dashboards
  ChangeLog.rst
  roles/kube_prometheus/aggregate_dashboard.ini
  roles/kube_prometheus/files/additionnal_dashboard.yml
  roles/kube_prometheus/hack/aggregate_dashboard.py
Labels: enhancement, good first issue, operations

#191 Elasticsearch: Deploy `PodDisruptionBudget`s
  ChangeLog.rst
  roles/cluster_logging/defaults/main.yml
  roles/cluster_logging/files/elasticsearch/values.yml
Labels: enhancement, operations

#197 cluster_logging: Deploy desired ES Curator config
  ChangeLog.rst
  roles/cluster_logging/files/elasticsearch-curator/values.yml
Labels: bug, good first issue, operations

#193 Update third-party
  ChangeLog.rst
  roles/kube_prometheus/defaults/main.yml
  vendor/kubespray/docs/getting-started.md
Labels: enhancement

#202 docs: Add logo to PDF version
  artwork/generate.sh
  artwork/generated/metalk8s-logo-wide-black.pdf
  artwork/generated/metalk8s-logo-wide-black.svg
  docs/conf.py
Labels: docs

#204 docs: Only render ChangeLog TOC in HTML view
  docs/changes.rst
Labels: docs

#210 kube_metrics_server: Deploy using Helm
  ChangeLog.rst
  roles/kube_metrics_server/defaults/main.yml
  roles/kube_metrics_server/files/auth-delegator.yaml
  roles/kube_metrics_server/files/auth-reader.yaml
  roles/kube_metrics_server/files/metrics-apiservice.yaml
  roles/kube_metrics_server/files/metrics-server-deployment.yaml
  roles/kube_metrics_server/files/metrics-server-service.yaml
  roles/kube_metrics_server/files/resource-reader.yaml
  roles/kube_metrics_server/files/values.yml
  roles/kube_metrics_server/meta/main.yml
  roles/kube_metrics_server/tasks/main.yml
  third-party.yaml
Labels: enhancement, operations

#201 Monitor Calico
  ChangeLog.rst
  playbooks/group_vars/k8s-cluster/10-metal-k8s.yml
  playbooks/services.yml
  roles/calico_monitoring/defaults/main.yml
  roles/calico_monitoring/files/calico-node-service.yml
  roles/calico_monitoring/files/calico-node-servicemonitor.yml
  roles/calico_monitoring/tasks/main.yml
  roles/calico_monitoring/vars/main.yml
  roles/kube_prometheus/aggregate_dashboard.ini
  roles/kube_prometheus/files/additionnal_dashboard.yml
  roles/kube_prometheus/hack/aggregate_dashboard.py
  third-party.yaml
  vendor/grafana-dashboards/3244/revisions/1/download
  vendor/zihaoyu/calico/667584956586c0b869d6ad9573ff8312efa265f1/master/reference/felix/grafana-dashboard.json
Labels: enhancement, networking, operations

#211 docs: Remove manual actions for Cerebro
  docs/usage/quickstart.rst
Labels: docs, enhancement, good first issue

#189 Add Prometheus ServiceMonitor to monitor Nginx
  playbooks/services.yml
  roles/kube_nginx_ingress/defaults/main.yml
  roles/kube_nginx_ingress/files/nginx_ingress_values.yml
  roles/kube_nginx_ingress/tasks/main.yml
  roles/kube_nginx_ingress/tasks/prometheus_monitoring.yml
  roles/kube_nginx_ingress/templates/nginx_ingress_servicemonitor.yaml.j2
  roles/kube_prometheus/tasks/main.yml
Labels: enhancement, operations

#181 Format LVM volumes asynchronously
  ChangeLog.rst
  roles/setup_lvm_lv/defaults/main.yml
  roles/setup_lvm_lv/tasks/main.yml
Labels: enhancement, storage

#214 kube_prometheus: Use a ConfigMap per dashboard
  roles/kube_prometheus/Makefile
  roles/kube_prometheus/aggregate_dashboard.ini
  roles/kube_prometheus/files/additional-dashboards/kube-prometheus-calico-dashboard.yml
  roles/kube_prometheus/files/additional-dashboards/kube-prometheus-calico2-dashboard.yml
  roles/kube_prometheus/files/additional-dashboards/kube-prometheus-elasticsearch-dashboard.yml
  roles/kube_prometheus/files/additional-dashboards/kube-prometheus-etcd-dashboard.yml
  roles/kube_prometheus/files/additional-dashboards/kube-prometheus-node-exporter-dashboard.yml
  roles/kube_prometheus/files/additional-dashboards/kube-prometheus-prometheus-dashboard.yml
  roles/kube_prometheus/files/additionnal_dashboard.yml
  roles/kube_prometheus/hack/aggregate_dashboard.py
  roles/kube_prometheus/hack/fix-dashboard.py
  roles/kube_prometheus/tasks/main.yml
  roles/kube_prometheus/templates/prometheus_values.yml
  roles/kube_prometheus/vars/main.yml
Labels: enhancement, operations

#215 Grafana dashboard for Nginx metrics
  ChangeLog.rst
  roles/kube_prometheus/Makefile
  roles/kube_prometheus/files/additional-dashboards/kube-prometheus-calico2-dashboard.yml
  roles/kube_prometheus/files/additional-dashboards/kube-prometheus-nginx-ingress-dashboard.yml
  roles/kube_prometheus/hack/fix-dashboard.py
  roles/kube_prometheus/vars/main.yml
  third-party.yaml
  vendor/kubernetes/ingress-nginx/deploy/grafana/dashboards/nginx.yaml
Labels: enhancement, operations

#218 cluster_logging: Bump versions of Kibana and fluent-bit
  ChangeLog.rst
  roles/cluster_logging/defaults/main.yml
Labels: enhancement, operations

#219 Detect old storage configuration earlier in the playbook
  roles/preflight_checks/action_plugins/validate_inventory.py
  roles/setup_lvm_vg/tasks/main.yml
Labels: enhancement, storage

#226 Release: Prepare 1.0.0
  ChangeLog.rst
  docs/conf.py
Labels: docs
