Repository scality/metalk8s, pull requests merged in 2019-12, with the labels that each got.

#2104 UI: fix Add Solution Modal display when no solution is imported
  ui/src/containers/SolutionList.js
  ui/src/translations/en.json
  ui/src/translations/fr.json
Labels: easy, moonshot, ui

#2126 Fix requirements on MacOS
  buildchain/requirements-Darwin.txt
Labels: build, dependencies, moonshot

#2136 salt: `def __virtualname__` ain't right
  salt/_states/metalk8s_package_manager.py
Labels: bug, easy

#2138 calico: update to Calico 3.10.2
  buildchain/buildchain/versions.py
  packages/redhat/calico-cni-plugin.spec
  salt/metalk8s/kubernetes/cni/calico/deployed.sls
Labels: dependencies, deployment, easy, enhancement, moonshot, networking

#2140 ci: don't re-run bootstrap in multi-node tests
  eve/main.yml
  tests/post/features/bootstrap.feature
  tests/requirements.in
  tests/requirements.txt
  tox.ini
Labels: ci, tests

#2151 salt: use `tojson` when splicing in complex structures
  salt/metalk8s/macro.sls
  salt/metalk8s/repo/installed.sls
  salt/metalk8s/salt/master/installed.sls
Labels: bug, deployment, easy, moonshot
