Repository scality/metalk8s, pull requests merged in 2019-09, with the labels that each got.

#1584 UI: Update the core-ui version to be up-to-date with the new build process
  ui/package-lock.json
  ui/package.json
Labels: build, dependencies, easy, ui

#1606 github: add `backlog-automation` action
  .github/workflows/backlog-automation.yml
Labels: ci

#1627 ui: add a new column to in volume list to indicate if the volume is bound
  ui/src/containers/NodeInformation.js
  ui/src/containers/NodeVolumes.js
Labels: easy, moonshot, storage, ui

#1640 Add size limit to the assets
  ui/config-overrides.js
Labels: build, moonshot, ui

#1658 Update React Router, React Router Dom and react-script
  ui/package-lock.json
  ui/package.json
Labels: dependencies, ui

#1669 buildchain - Fix rendering tasks title
  buildchain/buildchain/targets/serialize.py
Labels: build, debt, easy, moonshot

#1675 ui: integrate Flow for type checking
  ui/.babelrc
  ui/.flowconfig
  ui/config-overrides.js
  ui/package-lock.json
  ui/package.json
  ui/src/components/Banner.js
  ui/src/components/InformationList.js
  ui/src/components/Loader.js
Labels: dependencies, medium, moonshot, ui

#1694 ui/bug: add the title for breadcrumb
  ui/src/containers/CreateVolume.js
  ui/src/containers/NodeInformation.js
  ui/src/containers/VolumeInformation.js
Labels: bug, easy, storage, ui

#1716 buildchain: bump package versions to CentOS 7.7
  buildchain/buildchain/versions.py
Labels: bug, build, deployment

#1708 storage-operator: fix Thrift source repository
  storage-operator/go.mod
  storage-operator/go.sum
Labels: build, dependencies, easy, storage

#1715 Remove unused images
  buildchain/buildchain/image.py
  buildchain/buildchain/versions.py
Labels: build, moonshot

#1736 Delete truncated/corrupted ISO on failure
  buildchain/buildchain/iso.py
Labels: build, moonshot

#1747 Merge tag `2.4.0-beta1`
  docs/conf.py
  eve/main.yml
Labels: ci, docs, moonshot

#1754 Fix script to retrieve Prometheus port
  docs/developer/running/ui.rst
Labels: docs, moonshot

#1752 Add operation section to PDF doc
  docs/index-latex.rst
  docs/index.rst
Labels: docs, moonshot

#1776 kubernetes: set `metricsBindAddress` of `kube-proxy` to `0.0.0.0`
  salt/metalk8s/kubernetes/kube-proxy/deployed.sls
Labels: deployment, moonshot, operations

#1777 kubernetes, monitoring: fix `etcd` metrics collection
  charts/prometheus-operator.yaml
  salt/metalk8s/addons/prometheus-operator/deployed/chart.sls
  salt/metalk8s/kubernetes/etcd/installed.sls
Labels: deployment, moonshot, operations

#1782 ui/bug: enable to click on trash button when there is no pv
  ui/src/services/NodeVolumesUtils.js
  ui/src/services/NodeVolumesUtils.test.js
Labels: bug, easy, storage, ui

#1773 ui/bug: fix the issue of select component for create volume e2e test
  eve/main.yml
  ui/cypress/integration/common/volume.js
  ui/src/containers/CreateVolume.js
Labels: bug, ci, easy, moonshot, storage, ui

#1786 Add Ubuntu bootstrap VM in Vagrant
  Vagrantfile
Labels: build, deployment

#1795 test/upgrade: compute metalk8s version properly
  eve/main.yml
Labels: ci

#1792 Configure Debian repositories on the bootstrap
  scripts/bootstrap.sh.in
Labels: deployment, enhancement, medium, moonshot
