Repository scality/metalk8s, pull requests merged in 2019-06, with the labels that each got.

#1177 Remove VERSION_SUFFIX from Eve "product_version"
  eve/get_product_version.sh
Labels: bug, ci, moonshot

#1199 Cypress: Add tests
  ui/cypress/integration/login.js
Labels: easy, moonshot, tests, ui

#1215 CI: integrate UI unit tests
  eve/main.yml
  eve/workers/pod-unit-tests/Dockerfile
  eve/workers/pod-unit-tests/pod.yaml
  ui/package.json
Labels: moonshot, ui

#1229 Core-ui: upgrade version and rename it
  ui/package-lock.json
  ui/package.json
  ui/src/components/Loader.js
  ui/src/containers/ClusterMonitoring.js
  ui/src/containers/Layout.js
  ui/src/containers/Login.js
  ui/src/containers/NodeCreateForm.js
  ui/src/containers/NodeDeployment.js
  ui/src/containers/NodeInformation.js
  ui/src/containers/NodeList.js
  ui/src/ducks/config.js
Labels: easy, moonshot, ui

#1225 Cypress: Add cucumber support
  ui/cypress.sh
  ui/cypress/integration/Nodes.feature
  ui/cypress/integration/common/login.js
  ui/cypress/integration/common/nodes.js
  ui/cypress/integration/login.js
  ui/cypress/plugins/index.js
  ui/package-lock.json
  ui/package.json
Labels: moonshot, ui

#1249 metalk8s-ui: update version
  buildchain/buildchain/image.py
  salt/metalk8s/addons/ui/files/metalk8s-ui-deployment.yaml
Labels: easy, moonshot, ui

#1275 CI: Set Salt Minion ID to hostname in single-node
  eve/workers/openstack-single-node/requirements.sh
Labels: bug, ci, moonshot

#1309 Move to released Terraform 0.12.3
  eve/main.yml
  eve/workers/openstack-multiple-nodes/requirements.sh
  eve/workers/openstack-multiple-nodes/terraform/scripts/setup-providers.sh
Labels: ci, debt, moonshot

#1310 Escape backslashes in `parsed-literal` blocks
  docs/quickstart/expansion.rst
Labels: docs, easy, moonshot

#1315 ci: split IP reporting and debug `sleep` command
  eve/main.yml
Labels: ci

#1314 Add full node info dashboard from metalk8s 1.0
  buildchain/buildchain/salt_tree.py
  salt/metalk8s/addons/monitoring/grafana/deployed.sls
  salt/metalk8s/addons/monitoring/grafana/metal1_node_dashboard.sls
  salt/metalk8s/addons/monitoring/grafana/upstream.sls
Labels: enhancement, moonshot
