Repository scality/metalk8s, pull requests merged in 2019-10, with the labels that each got.

#1818 UI: Add fetchSolutions missing unit tests
  ui/src/ducks/app/solutions.test.js
Labels: easy, moonshot, ui

#1803 charts: update `prometheus-operator` to 6.11.0
  buildchain/buildchain/versions.py
  charts/prometheus-operator/Chart.yaml
  charts/prometheus-operator/README.md
  charts/prometheus-operator/values.yaml
  salt/metalk8s/addons/prometheus-operator/deployed/chart.sls
Labels: deployment, moonshot, operations

#1881 Improve output in case of error during the doc building
  docs/entrypoint.sh
Labels: build, docs

#1888 ci: remove workaround
  storage-operator/go.mod
Labels: ci, dependencies, storage

#1892 Update sphinxcontrib-plantuml
  docs/requirements.in
  docs/requirements.txt
Labels: dependencies, docs

#1910 build/debian: Do not build repo if no package
  packages/debian/entrypoint.sh
Labels: dependencies, storage

#1916 ui/cypress Update cypress binary and package link
  ui/cypress.sh
Labels: ci, ui

#1919 Change relative path for upgrade in development/2.4
  salt/metalk8s/defaults.yaml
  salt/metalk8s/repo/offline.sls
Labels: deployment, easy, enhancement, moonshot

#1925 Revert "Test/upgrade: deactivate tests about upgrade"
  eve/main.yml
Labels: easy, enhancement, moonshot, tests

#1932 Vagrant/ubuntu: Add a repo update on Ubuntu VM
  Vagrantfile
Labels: easy, enhancement, moonshot

#1927 Add commit best practices
  docs/developer/best_practices/commit.rst
  docs/developer/best_practices/index.rst
Labels: docs

#1960 docs/operation: Reword K8s API auth management
  docs/operation/account_administration.rst
Labels: docs, moonshot

#1961 test/ui: Use released Cypress 3.5.0
  ui/cypress.sh
Labels: ui

#1967 1966: increase alertmanager & prometheus PVs creation timeout
  eve/create-volumes.sh
Labels: ci

#1973 kubernetes: bump to version 1.13.12
  buildchain/buildchain/versions.py
Labels: dependencies, easy, moonshot

#1974 kubernetes: bump to version 1.14.8
  buildchain/buildchain/versions.py
Labels: dependencies, easy, moonshot

#1975 kubernetes: bump to version 1.15.5
  buildchain/buildchain/versions.py
Labels: dependencies, easy, moonshot
