Repository scality/metalk8s, pull requests merged in 2019-11, with the labels that each got.

#1987 Set version to 2.4.1 dev
  VERSION
  docs/conf.py
Labels: docs, moonshot

#2020 Merge 2.4.1 tag in development branch
  CHANGELOG.md
  VERSION
  docs/conf.py
  eve/main.yml
Labels: ci, docs

#1986 Add .final_status to artifacts
  eve/main.yml
Labels: ci, moonshot
