Repository scality/metalk8s, pull requests merged in 2019-08, with the labels that each got.

#1504 Pin Terraform providers versions
  eve/workers/openstack-multiple-nodes/terraform/provider.tf
Labels: bug, ci, moonshot

#1508 fix the bug of storageclass
  ui/src/containers/CreateVolume.js
Labels: bug, moonshot, storage, ui

#1509 Install only production dependency during build
  ui/Dockerfile
Labels: build, moonshot, ui

#1516 Remove prometheus checking after the login
  ui/cypress/integration/common/login.js
Labels: easy, flakiness, tests, ui

#1518 Add junit report for cypress and jest
  .gitignore
  eve/main.yml
  eve/workers/pod-unit-tests/Dockerfile
  ui/cypress.json
  ui/package-lock.json
  ui/package.json
Labels: moonshot, tests

#1526 Add missing argument in delete namespaced service
  salt/_modules/metalk8s_kubernetes.py
Labels: moonshot

#1545 UI: Upgrade and pin the @kubernetes/client-node version
  ui/package-lock.json
  ui/package.json
  ui/src/services/k8s/api.js
Labels: easy, moonshot, ui

#1547 ui: update `package-lock.json`
  ui/package-lock.json
  ui/package.json
  ui/src/services/k8s/api.js
Labels: bug, build, easy, ui

#1546 calico: bump version to 3.8.2
  ui/package-lock.json
  ui/package.json
  ui/src/services/k8s/api.js
Labels: deployment, easy, enhancement, moonshot, networking

#1553 ci: use `npm ci` instead of `npm install`
  eve/main.yml
  ui/Dockerfile
Labels: build, ci, moonshot, ui

#1554 buildchain: update K8s version to 1.12.10
  buildchain/buildchain/versions.py
Labels: moonshot

#1555 buildchain: update K8s version to 1.13.10
  buildchain/buildchain/versions.py
Labels: moonshot

#1556 buildchain: update K8s version to 1.14.6
  buildchain/buildchain/versions.py
Labels: moonshot

#1557 buildchain: update K8s version to 1.15.3
  buildchain/buildchain/versions.py
Labels: moonshot

#1559 Move instructions about how to run the storage operator
  docs/developer/running/index.rst
  docs/developer/running/storage_operator.rst
  storage-operator/README.md
Labels: docs, moonshot

#1562 UI: Fix - Metalk8s version not displayed in Creation node page
  ui/src/containers/Layout.js
  ui/src/ducks/config.js
  ui/src/ducks/config.test.js
Labels: bug, easy, moonshot, ui

#1563 Move ui to a new namespace
  docs/quickstart/services.rst
  salt/metalk8s/addons/ui/deployed.sls
  tests/post/steps/test_ui.py
  ui/cypress.sh
Labels: build, easy, moonshot, ui

#1568 tests: make 'static Pod changed' test more resilient
  tests/kube_utils.py
  tests/post/steps/test_static_pods.py
Labels: ci, flakiness

#1578 monitoring: change K8s namespace to `metalk8s-monitoring`
  docs/quickstart/bootstrap.rst
  docs/quickstart/services.rst
  salt/_pillar/metalk8s_endpoints.py
  salt/metalk8s/addons/monitoring/alertmanager/upstream.sls
  salt/metalk8s/addons/monitoring/grafana/coredns_dashboard.sls
  salt/metalk8s/addons/monitoring/grafana/metal1_node_dashboard.sls
  salt/metalk8s/addons/monitoring/grafana/upstream.sls
  salt/metalk8s/addons/monitoring/kube-state-metrics/upstream.sls
  salt/metalk8s/addons/monitoring/node-exporter/upstream.sls
  salt/metalk8s/addons/monitoring/prometheus-operator/upstream.sls
  salt/metalk8s/addons/monitoring/prometheus/deployed.sls
  salt/metalk8s/addons/monitoring/prometheus/upstream.sls
  tests/post/features/monitoring.feature
  tests/post/steps/test_monitoring.py
Labels: deployment, moonshot, operations

#1579 github: add PR labeling action
  .github/labeler.yml
  .github/workflows/label.yml
Labels: ci

#1585 buildchain: `exec` `doit` at the end of `doit.sh`
  doit.sh
Labels: build, easy, enhancement, moonshot

#1581 Use leader-with-lease election mode for the storage-operator
  storage-operator/cmd/manager/main.go
Labels: moonshot, storage
