Repository scality/metalk8s, pull requests merged in 2019-03, with the labels that each got.

#687 GH-663- add conditional VM debug step
  eve/main.yml
Labels: CI, moonshot

#695 salt: fix `ServiceAccount` creation
  salt/_modules/kubernetes.py
Labels: bug, deployment, moonshot

#710 Make sure salt master container is running before declaring success
  salt/metalk8s/salt/master/deployed.sls
  scripts/bootstrap.sh.in
Labels: debt, deployment, moonshot

#732 coredns: add toleration for *master* nodes
  salt/metalk8s/kubeadm/init/addons/files/coredns_deployment.yaml
Labels: bug, deployment, moonshot

#734 Stop returning `None` if no taints exist on a node
  salt/_modules/kubernetes.py
Labels: bug, deployment, moonshot

#754 Use better liveness check for dind container
  eve/main.yml
Labels: moonshot, tests

#759 Improvement/724 add multiple vms local env vagrant
  Vagrantfile
Labels: moonshot, tests

#764 Test run bootstrap twice
  tests/post/features/bootstrap.feature
  tests/post/steps/conftest.py
  tests/post/steps/test_bootstrap.py
  tests/post/steps/test_liveness.py
Labels: CI, moonshot, tests

#783 CI: upgrade RAM for build worker
  eve/workers/pod-builder/pod.yaml
Labels: CI, build

#794 Upgrade Helm Version
  Makefile
  contrib/terraform/openstack/inventory.tf
  eve/images/pep8-checker/Dockerfile
  roles/helm_install/defaults/main.yml
Labels: deployment

#852 Let kubelet choose the right cni deps
  packages/packages.list
Labels: bug, moonshot

#847 Improvement/automatically deploy preshared ssh key
  Vagrantfile
Labels: deployment

#868 Use PTY to get build step output in CI
  eve/main.yml
Labels: CI, bug, build, moonshot

#875 build: always forget execution of cleaned tasks
  buildchain/dodo.py
Labels: build, moonshot

#876 build: add a check to enforce Python version
  doit.sh
Labels: build, moonshot

#873 Fix branding asset "rewrite or internal redirection cycle" problem
  ui/conf/nginx.conf
Labels: UI, moonshot

#882 Limit pre-merge to list of branch prefixes
  eve/main.yml
Labels: CI

#860 Add a manifest template to add new nodes
  buildchain/buildchain/iso.py
  examples/new-node.yaml
  examples/new-node_vagrant.yaml
Labels: enhancement, moonshot
