Repository scality/metalk8s, pull requests merged in 2019-07, with the labels that each got.

#1346 build/vagrant: fix `uptodate` for `vagrant_snapshot`
  buildchain/buildchain/vagrant.py
Labels: moonshot

#1355 build: fix concurrent build on MacOS
  buildchain/dodo.py
Labels: moonshot

#1356 UI: update core-ui version
  ui/package-lock.json
  ui/package.json
Labels: easy, moonshot, ui

#1352 ClusterMonitoring: exclude pending alerts
  ui/src/containers/ClusterMonitoring.js
Labels: easy, moonshot, ui

#1350 ClusterHealth: Refresh
  ui/src/constants.js
  ui/src/containers/ClusterMonitoring.js
  ui/src/containers/NodeList.js
  ui/src/ducks/app/monitoring.js
  ui/src/ducks/app/monitoring.test.js
Labels: medium, moonshot, ui

#1368 calico: upgrade to Calico 3.8.0
  buildchain/buildchain/image.py
  buildchain/buildchain/packaging.py
  packages/calico-cni-plugin.spec
  salt/_renderers/metalk8s_kubernetes.py
  salt/metalk8s/kubernetes/cni/calico/configured.sls
  salt/metalk8s/kubernetes/cni/calico/deployed.sls
Labels: deployment, easy, enhancement, moonshot, networking

#1369 packages: use CentOS upstream `container-selinux`
  buildchain/buildchain/packaging.py
  packages/entrypoint.sh
  packages/packages.list
  salt/metalk8s/defaults.yaml
  scripts/bootstrap.sh.in
Labels: build, easy, enhancement, moonshot

#1371 buildchain: better log "parsing" for `BuildError` handler
  buildchain/buildchain/docker_command.py
Labels: bug, moonshot

#1374 fix cleanup condition for local images
  buildchain/buildchain/targets/local_image.py
Labels: moonshot

#1372 ClusterHealthStatus: stop refresh
  ui/src/containers/ClusterMonitoring.js
  ui/src/ducks/app/monitoring.js
  ui/src/ducks/app/monitoring.test.js
Labels: medium, moonshot, ui

#1398 SidePanel: should be expanded by default
  ui/src/containers/App.js
  ui/src/containers/Layout.js
  ui/src/ducks/app/layout.js
  ui/src/ducks/app/layout.test.js
  ui/src/ducks/sagas.js
Labels: easy, moonshot, ui

#1385 Pods List: improvement
  ui/src/containers/NodeInformation.js
  ui/src/containers/NodeList.js
  ui/src/ducks/app/nodes.js
  ui/src/ducks/app/nodes.test.js
Labels: medium, moonshot, ui

#1426 Pin tox version in docs/Dockerfile
  docs/Dockerfile
Labels: ci, moonshot

#1407 NodeCreation: Add infra role
  docs/quickstart/expansion.rst
  ui/src/containers/NodeCreateForm.js
  ui/src/ducks/app/nodes.js
  ui/src/ducks/app/nodes.test.js
  ui/src/services/k8s/api.js
  ui/src/translations/en.json
  ui/src/translations/fr.json
Labels: easy, moonshot, ui

#1427 eve: handle Dependabot branches
  eve/main.yml
Labels: ci

#1437 calico: disable usage reporting
  salt/metalk8s/kubernetes/cni/calico/deployed.sls
Labels: easy, enhancement, moonshot, networking

#1451 NodeManagement: Fix "Deploy" button display
  ui/src/components/CircleStatus.js
  ui/src/components/constants.js
  ui/src/constants.js
  ui/src/containers/ClusterMonitoring.js
  ui/src/containers/NodeInformation.js
  ui/src/containers/NodeList.js
  ui/src/ducks/app/nodes.js
  ui/src/ducks/app/nodes.test.js
Labels: bug, easy, moonshot, ui

#1414 Correction of the vagrantfile
  Vagrantfile
Labels: bug, easy, moonshot

#1453 NodeList: refresh improvement
  ui/src/containers/NodeList.js
  ui/src/ducks/app/nodes.js
  ui/src/ducks/app/nodes.test.js
Labels: easy, enhancement, moonshot, ui

#1469 UI Branding: move fonts to public folder
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-200.woff
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-200.woff2
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-300.woff
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-300.woff2
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-500.woff
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-500.woff2
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-600.woff
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-600.woff2
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-700.woff
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-700.woff2
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-regular.woff
  ui/public/brand/assets/fonts/oswald/oswald-v23-latin-regular.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-100.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-100.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-100italic.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-100italic.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-300.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-300.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-300italic.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-300italic.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-500.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-500.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-500italic.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-500italic.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-700.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-700.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-700italic.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-700italic.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-900.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-900.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-900italic.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-900italic.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-italic.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-italic.woff2
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-regular.woff
  ui/public/brand/assets/fonts/roboto/roboto-v19-latin-regular.woff2
  ui/src/index.css
Labels: easy, moonshot, ui

#1490 Fix task callables signatures and type hints
  .pylintrc
  buildchain/buildchain/docker_command.py
Labels: build, debt, easy, moonshot
