Repository scality/metalk8s, pull requests merged in 2019-05, with the labels that each got.

#1043 Salt module to `cordon` `uncordon` a kubernetes node
  salt/_modules/metalk8s_kubernetes.py
  salt/_states/metalk8s_kubernetes.py
Labels: deployment, moonshot

#1058 salt: match at least one minion in `wait_minions`
  salt/_runners/metalk8s_saltutil.py
Labels: bug, deployment, moonshot

#1064 vagrant: use ICH9 machines and `virtio` networking
  Vagrantfile
Labels: moonshot

#1081 build: don't pass `--broken` to `git`
  buildchain/buildchain/constants.py
Labels: bug, build, moonshot

#1082 bootstrap: explicitly `mine.update` at the end
  scripts/bootstrap.sh.in
Labels: bug, deployment

#1089 cni: deploy a fallback `loopback` CNI configuration
  buildchain/buildchain/salt_tree.py
  salt/metalk8s/kubernetes/cni/loopback/configured.sls
  salt/metalk8s/kubernetes/cni/loopback/init.sls
  salt/metalk8s/kubernetes/cni/loopback/installed.sls
  salt/metalk8s/roles/etcd/init.sls
  salt/metalk8s/roles/internal/node-without-calico.sls
  salt/metalk8s/roles/master/init.sls
  salt/metalk8s/roles/node/init.sls
Labels: deployment, enhancement, networking

#1092 salt: add `kubernetes` renderer
  buildchain/buildchain/salt_tree.py
  salt/_renderers/metalk8s_kubernetes.py
Labels: moonshot

#1078 Move signing policies from salt-minion configuration to pillar
  pillar/metalk8s/roles/ca.sls
  pillar/top.sls.in
  salt/metalk8s/kubernetes/ca/etcd/installed.sls
  salt/metalk8s/kubernetes/ca/front-proxy/installed.sls
  salt/metalk8s/kubernetes/ca/kubernetes/installed.sls
  salt/metalk8s/salt/minion/configured.sls
  salt/metalk8s/salt/minion/running.sls
Labels: debt, deployment, easy, moonshot

#1055 Salt orchestrate for (single) node upgrade
  buildchain/buildchain/salt_tree.py
  salt/metalk8s/orchestrate/deploy_node.sls
  ui/src/services/api.js
Labels: deployment, moonshot

#1084 Setup e2e test with cypress
  eve/main.yml
  eve/workers/openstack-single-node/requirements.sh
  ui/.gitignore
  ui/cypress.json
  ui/cypress.sh
  ui/cypress/integration/login.js
  ui/cypress/plugins/index.js
  ui/cypress/support/commands.js
  ui/cypress/support/index.js
  ui/package-lock.json
  ui/package.json
Labels: tests

#1103 Add orchestrate for Upgrade MetalK8s cluster
  buildchain/buildchain/salt_tree.py
  pillar/metalk8s/roles/bootstrap.sls.in
  salt/_modules/metalk8s_drain.py
  salt/_states/metalk8s_drain.py
  salt/metalk8s/deployed.sls
  salt/metalk8s/kubernetes/apiserver/installed.sls
  salt/metalk8s/kubernetes/controller-manager/installed.sls
  salt/metalk8s/kubernetes/etcd/healthy.sls
  salt/metalk8s/kubernetes/kubelet/installed.sls
  salt/metalk8s/kubernetes/kubelet/running.sls
  salt/metalk8s/kubernetes/scheduler/installed.sls
  salt/metalk8s/orchestrate/bootstrap/init.sls
  salt/metalk8s/orchestrate/deploy_node.sls
  salt/metalk8s/orchestrate/upgrade/etcd.sls
  salt/metalk8s/orchestrate/upgrade/init.sls
  salt/metalk8s/orchestrate/upgrade/precheck.sls
  salt/metalk8s/repo/installed.sls
  salt/metalk8s/repo/offline.sls
  salt/metalk8s/salt/master/configured.sls
  salt/metalk8s/salt/master/files/salt-master-manifest.yaml.j2
  salt/metalk8s/salt/master/installed.sls
Labels: deployment, moonshot, upgrade

#1153 build: fix skopeo usage on MacOS
  buildchain/buildchain/targets/remote_image.py
Labels: build, moonshot

#1156 Add a retry logic when checking etcd cluster health
  salt/_states/metalk8s.py
  salt/metalk8s/orchestrate/upgrade/etcd.sls
Labels: bug, deployment, easy, etcd, moonshot, upgrade

#1157 build: fix build on MacOS (bis)
  buildchain/buildchain/targets/local_image.py
Labels: bug, build, easy

#1165 build/images: delete intermediate containers
  buildchain/buildchain/docker_command.py
Labels: build, moonshot
