Repository scality/metalk8s, pull requests merged in 2019-02, with the labels that each got.

#558 ci: implement no-op Eve run
  eve/main.yml
Labels: CI, moonshot, tests

#565 chore: import stub `Vagrantfile`
  .gitignore
  Vagrantfile
Labels: moonshot

#553 Add Salt states to install kubelet and its prerequisites
  pillar/repositories.sls
  pillar/top.sls
  salt/metalk8s/containerd/configured.sls
  salt/metalk8s/containerd/init.sls
  salt/metalk8s/containerd/installed.sls
  salt/metalk8s/defaults.yaml
  salt/metalk8s/kubelet/init.sls
  salt/metalk8s/kubelet/installed.sls
  salt/metalk8s/map.jinja
  salt/metalk8s/repo/configured.sls
  salt/metalk8s/repo/init.sls
  salt/metalk8s/repo/offline.sls
  salt/metalk8s/repo/online.sls
  salt/metalk8s/runc/init.sls
  salt/metalk8s/runc/installed.sls
Labels: moonshot

#572 build: rework `make` targets, and add `vagrantup`
  Makefile
Labels: build, moonshot

#574 fix: install recent version of `container-selinux`
  salt/metalk8s/containerd/installed.sls
  tests/test-containerd.sh
Labels: bug, moonshot, security

#586 build: add product info file to ISO image
  Makefile
  VERSION
  scripts/product.sh
Labels: enhancement, moonshot

#585 salt: create modules and states for CRI and `containerd`
  Makefile
  salt/_modules/containerd.py
  salt/_modules/cri.py
  salt/_states/containerd.py
Labels: deployment, moonshot

#589 salt: install and configure `crictl` with `kubelet`
  salt/metalk8s/kubelet/installed.sls
  tests/test-containerd.sh
Labels: deployment, enhancement, moonshot

#595 tests: add a basic test for `kubelet` functionality
  tests/test-kubelet.sh
Labels: moonshot, tests

#597 chore: import APL-2 `LICENSE`
  LICENSE
Labels: moonshot

#564 Prevent `kubeadm init phase preflight` failure
  Makefile
  salt/metalk8s/defaults.yaml
  salt/metalk8s/kubeadm/init/init.sls
  salt/metalk8s/kubeadm/init/preflight/init.sls
  salt/metalk8s/kubeadm/init/preflight/mandatory.sls
  salt/metalk8s/kubeadm/init/preflight/recommended.sls
  salt/metalk8s/map.jinja
  scripts/bootstrap.sh.in
Labels: deployment, moonshot

#591 Dockerfile for salt-master
  images/salt-master/Dockerfile
  images/salt-master/README.md
Labels: deployment, moonshot

#613 Change way product build timestamp is computed for MacOS support
  scripts/product.sh
Labels: build

#610 Package salt master container
  Makefile
  container_images.mk
Labels: build, moonshot

#623 Set up a version for salt master image
  Makefile
  container_images.mk
Labels: build, debt, moonshot

#607 Add salt states for kubeadm init certs first iteration (ca, apiserver)
  Makefile
  pillar/networks.sls
  pillar/top.sls.in
  salt/metalk8s/defaults.yaml
  salt/metalk8s/kubeadm/init/certs/apiserver.sls
  salt/metalk8s/kubeadm/init/certs/ca.sls
  salt/metalk8s/kubeadm/init/certs/init.sls
  salt/metalk8s/kubeadm/init/certs/installed.sls
  salt/metalk8s/kubeadm/init/init.sls
  salt/metalk8s/map.jinja
  scripts/bootstrap.sh.in
Labels: deployment, moonshot

#645 ci: add get_product_version.sh for Eve
  VERSION
  eve/get_product_version.sh
Labels: CI, moonshot

#614 Kubeadm init: kubeconfig phase
  Makefile
  salt/_states/kubeconfig.py
  salt/metalk8s/defaults.yaml
  salt/metalk8s/kubeadm/init/certs/ca.sls
  salt/metalk8s/kubeadm/init/init.sls
  salt/metalk8s/kubeadm/init/kubeconfig/admin.sls
  salt/metalk8s/kubeadm/init/kubeconfig/controller-manager.sls
  salt/metalk8s/kubeadm/init/kubeconfig/init.sls
  salt/metalk8s/kubeadm/init/kubeconfig/kubelet.sls
  salt/metalk8s/kubeadm/init/kubeconfig/lib.sls
  salt/metalk8s/kubeadm/init/kubeconfig/scheduler.sls
  salt/metalk8s/map.jinja
  scripts/bootstrap.sh.in
Labels: deployment, moonshot

#653 Add simple loop to wait for Docker daemon in worker
  eve/main.yml
Labels: CI, moonshot

#642 Improvement/546 deploy salt master
  Makefile
  salt/metalk8s/repo/online.sls
  salt/metalk8s/salt/master/configured.sls
  salt/metalk8s/salt/master/deployed.sls
  salt/metalk8s/salt/master/files/master_99-metalk8s.conf.j2
  salt/metalk8s/salt/master/files/salt-master-pod.yaml.j2
  salt/metalk8s/salt/master/init.sls
  salt/metalk8s/salt/minion/configured.sls
  salt/metalk8s/salt/minion/files/minion_99-metalk8s.conf.j2
  salt/metalk8s/salt/minion/init.sls
  salt/metalk8s/salt/minion/installed.sls
  scripts/bootstrap.sh.in
Labels: deployment, moonshot

#654 Generate certificates for front-proxy-ca and front-proxy-client
  Makefile
  salt/metalk8s/defaults.yaml
  salt/metalk8s/kubeadm/init/certs/front-proxy-ca.sls
  salt/metalk8s/kubeadm/init/certs/front-proxy-client.sls
  salt/metalk8s/map.jinja
  scripts/bootstrap.sh.in
Labels: deployment, moonshot

#665 salt: remove some hardcoded `-dev` occurrences
  salt/metalk8s/salt/master/deployed.sls
  salt/metalk8s/salt/master/files/master_99-metalk8s.conf.j2
Labels: bug, deployment, moonshot

#661 Add Salt state to manage etcd PKI
  Makefile
  salt/metalk8s/defaults.yaml
  salt/metalk8s/kubeadm/init/certs/apiserver-etcd-client.sls
  salt/metalk8s/kubeadm/init/certs/etcd-ca.sls
  salt/metalk8s/kubeadm/init/certs/etcd-healthcheck-client.sls
  salt/metalk8s/kubeadm/init/certs/etcd-peer.sls
  salt/metalk8s/kubeadm/init/certs/etcd-server.sls
  salt/metalk8s/map.jinja
  scripts/bootstrap.sh.in
Labels: deployment, moonshot

#669 Does not use localhost in kubeconfig for apiserver endpoint
  salt/metalk8s/kubeadm/init/kubeconfig/lib.sls
  salt/metalk8s/salt/minion/running.sls
  scripts/bootstrap.sh.in
Labels: bug, deployment, moonshot

#674 Fix apiserver addresse in kubeconfig
  salt/metalk8s/kubeadm/init/kubeconfig/lib.sls
Labels: bug, deployment, moonshot

#677 Reconfigure kubelet service after kubeconfig kubelet
  Makefile
  salt/metalk8s/defaults.yaml
  salt/metalk8s/kubeadm/init/kubeconfig/files/service-kubelet-systemd.conf
  salt/metalk8s/kubeadm/init/kubeconfig/kubelet.sls
  salt/metalk8s/kubeadm/init/kubelet-start/configured.sls
  salt/metalk8s/kubeadm/init/kubelet-start/files/service-kubelet-systemd.conf
  salt/metalk8s/map.jinja
  scripts/bootstrap.sh.in
Labels: debt, deployment, moonshot

#679 registry: fix readiness and liveness checks
  salt/metalk8s/registry/files/registry-pod.yaml.j2
Labels: bug, deployment, moonshot

#681 Fixes kubelet config file
  salt/metalk8s/defaults.yaml
  salt/metalk8s/kubeadm/init/kubelet-start/configured.sls
Labels: bug, deployment, moonshot
