Repository scality/metalk8s, pull requests merged in 2019-04, with the labels that each got.

#901 build: use `True` instad of `run_once`
  buildchain/buildchain/packaging.py
  buildchain/buildchain/targets/directory.py
  buildchain/buildchain/targets/file_tree.py
  buildchain/buildchain/targets/remote_image.py
  buildchain/buildchain/targets/repository.py
  buildchain/buildchain/vagrant.py
Labels: moonshot

#884 ui code optimizing
  buildchain/buildchain/salt_tree.py
  salt/metalk8s/ui/deployed.sls
  salt/metalk8s/ui/files/metalk8s-ui_deployment.yaml
  salt/metalk8s/ui/init.sls
  scripts/bootstrap.sh.in
  ui/public/config.json
  ui/src/ducks/config.test.js
  ui/src/services/api.js
Labels: moonshot, ui

#909 Use a mine_function in the pillar to advertise control_plane and work…
  buildchain/buildchain/salt_tree.py
  pillar/mine_functions.sls
  pillar/top.sls.in
  salt/_modules/metalk8s.py
  salt/_pillar/metalk8s.py
  salt/metalk8s/mine/ips.sls
  salt/metalk8s/orchestrate/bootstrap_with_master.sls
  scripts/bootstrap.sh.in
Labels: debt, deployment, moonshot

#913 Redirect restarting salt-minion command output to /dev/null
  salt/metalk8s/salt/minion/running.sls
Labels: bug, deployment, moonshot

#894 Improve default Calico config
  salt/metalk8s/calico/deployed.sls
Labels: moonshot, networking

#941 Use python36 and install tox to the right path
  eve/main.yml
  eve/workers/openstack-multiple-nodes/requirements.sh
  eve/workers/openstack-single-node/requirements.sh
Labels: ci, moonshot

#946 salt: restart kubelet on kubelet.conf modification
  salt/metalk8s/kubeadm/init/kubeconfig/kubelet.sls
Labels: moonshot

#908 buildchain: don't bail out when a directory already exists
  buildchain/buildchain/targets/file_tree.py
Labels: build

#958 Branding - Theme ConfigMap
  salt/metalk8s/ui/deployed.sls
  ui/conf/nginx.conf
Labels: moonshot, ui

#949 doc: introduce a good practice guide for Python
  docs/best_practices/python.md
Labels: moonshot

#966 salt: change salt-master config generation
  buildchain/buildchain/salt_tree.py
  salt/metalk8s/salt/master/configured.sls
  salt/metalk8s/salt/master/files/master_99-metalk8s.conf
Labels: moonshot

#932 salt: store CA minion in `BootstrapConfiguration`
  Vagrantfile
  eve/main.yml
  eve/workers/openstack-multiple-nodes/terraform/bootstrap-config.sh
  eve/workers/openstack-multiple-nodes/terraform/bootstrap.yaml
  salt/_pillar/metalk8s.py
  salt/metalk8s/calico/configured.sls
  salt/metalk8s/kubeadm/init/certs/apiserver-etcd-client.sls
  salt/metalk8s/kubeadm/init/certs/apiserver-kubelet-client.sls
  salt/metalk8s/kubeadm/init/certs/apiserver.sls
  salt/metalk8s/kubeadm/init/certs/ca.sls
  salt/metalk8s/kubeadm/init/certs/etcd-ca.sls
  salt/metalk8s/kubeadm/init/certs/etcd-deploy-ca-cert.sls
  salt/metalk8s/kubeadm/init/certs/etcd-healthcheck-client.sls
  salt/metalk8s/kubeadm/init/certs/etcd-peer.sls
  salt/metalk8s/kubeadm/init/certs/etcd-server.sls
  salt/metalk8s/kubeadm/init/certs/front-proxy-ca.sls
  salt/metalk8s/kubeadm/init/certs/front-proxy-client.sls
  salt/metalk8s/kubeadm/init/certs/front-proxy-deploy-ca-cert.sls
  salt/metalk8s/kubeadm/init/certs/sa-deploy-pub-key.sls
  salt/metalk8s/kubeadm/init/etcd/local.sls
  salt/metalk8s/kubeadm/init/kubeconfig/kubelet.sls
  salt/metalk8s/kubeadm/init/kubeconfig/lib.sls
Labels: deployment, moonshot

#965 Remove unneeded mount for Docker-in-Docker sidecar
  eve/workers/pod-builder/pod.yaml
Labels: build, ci, debt, moonshot

#985 salt: set `salt-master` log-level to `info`
  salt/metalk8s/salt/master/files/salt-master-pod.yaml.j2
Labels: deployment, good first issue, moonshot

#978 salt: implement true Kubernetes RBAC-based authn/authz
  salt/_auth/kubernetes_rbac.py
  salt/metalk8s/salt/master/files/master_99-metalk8s.conf.j2
  tests/post/features/salt_api.feature
  tests/post/steps/test_salt_api.py
Labels: moonshot, security

#970 salt: use grains to track node IPs
  buildchain/buildchain/salt_tree.py
  pillar/mine_functions.sls
  salt/_modules/metalk8s.py
  salt/metalk8s/kubeadm/init/addons/kube-proxy.sls
  salt/metalk8s/kubeadm/init/certs/apiserver.sls
  salt/metalk8s/kubeadm/init/certs/etcd-peer.sls
  salt/metalk8s/kubeadm/init/certs/etcd-server.sls
  salt/metalk8s/kubeadm/init/control-plane/apiserver.sls
  salt/metalk8s/kubeadm/init/etcd/local.sls
  salt/metalk8s/kubeadm/init/kubeconfig/lib.sls
  salt/metalk8s/kubeadm/init/kubelet-start/configured.sls
  salt/metalk8s/node/grains.sls
  salt/metalk8s/orchestrate/bootstrap_without_master.sls
  salt/metalk8s/orchestrate/control_plane.sls
  salt/metalk8s/orchestrate/deploy_etcd_on_new_node.sls
  salt/metalk8s/orchestrate/deploy_salt_minion_on_new_node.sls
  salt/metalk8s/orchestrate/worker_plane.sls
  salt/metalk8s/ui/deployed.sls
  scripts/bootstrap.sh.in
  tests/post/steps/test_ui.py
Labels: deployment, enhancement, moonshot

#996 salt: no need for `metalk8s.node` in pillar
  salt/_pillar/metalk8s_nodes.py
  salt/top.sls.in
Labels: deployment, enhancement, moonshot

#1011 ci: concurrent build
  eve/main.yml
  eve/workers/pod-builder/pod.yaml
Labels: ci, moonshot

#1013 salt: use API server address from Pillar in UI config
  salt/metalk8s/ui/deployed.sls
Labels: deployment, moonshot, ui

#1019 Refactor `deploy_new_node` orchestrate
  salt/_modules/metalk8s.py
  salt/metalk8s/orchestrate/deploy_new_node.sls
Labels: bug, deployment, moonshot

#1025 NodeCreateForm: error management bug fixs
  ui/src/containers/Login.js
  ui/src/containers/NodeCreateForm.js
Labels: moonshot, ui

#1035 salt: disable SSH host key checking
  salt/metalk8s/salt/master/files/master-99-metalk8s.conf.j2
Labels: deployment
