Repository scality/metalk8s, pull requests merged in 2020-10, with the labels that each got.

#2824 Upgrade Calico to 3.16.1
  CHANGELOG.md
  buildchain/buildchain/versions.py
  packages/redhat/calico-cni-plugin.spec
  salt/metalk8s/kubernetes/cni/calico/deployed.sls
Labels: complexity:medium, kind:enhancement, priority:medium, topic:deployment, topic:lifecycle, topic:salt

#2827 Calico disable Felix usage reporting, and add some comments
  salt/metalk8s/kubernetes/cni/calico/deployed.sls
Labels: complexity:easy, kind:bug, kind:debt, topic:deployment, topic:salt

#2850 salt: Make salt module compatible with Python3
  salt/_modules/metalk8s.py
  salt/_modules/metalk8s_etcd.py
  salt/_modules/metalk8s_kubernetes.py
  salt/_modules/metalk8s_network.py
  salt/_modules/metalk8s_package_manager_yum.py
  salt/_modules/metalk8s_volumes.py
  salt/_states/kubeconfig.py
  salt/_utils/volume_utils.py
  salt/tests/unit/modules/files/test_metalk8s_package_manager_yum.yaml
  salt/tests/unit/modules/test_metalk8s_package_manager_yum.py
Labels: complexity:medium, kind:debt, priority:medium, python, topic:salt

#2869 packages: containerd 1.4.1
  CHANGELOG.md
  buildchain/buildchain/packaging.py
  buildchain/buildchain/targets/package.py
  buildchain/buildchain/targets/repository.py
  buildchain/buildchain/versions.py
  packages/redhat/0001-Revert-commit-for-Windows-metrics.patch
  packages/redhat/containerd.spec
  scripts/backup.sh.in
Labels: complexity:medium, kind:dependencies, priority:medium, topic:build

#2863 CVE-2020-7660 && CVE-2020-15256: Bump version of serialize-javascript and object-path
  ui/package-lock.json
  ui/package.json
Labels: kind:dependencies, topic:ui

#2881 [Integration branch]To merge all Node PRs
  buildchain/buildchain/constants.py
  buildchain/buildchain/salt_tree.py
  salt/metalk8s/addons/ui/deployed/ui.sls.in
  ui/cypress/integration/common/Nodes.feature
  ui/cypress/integration/common/nodes.js
  ui/package-lock.json
  ui/package.json
  ui/public/brand/theme.json
  ui/src/components/ActiveAlertsCounter.js
  ui/src/components/ActiveAlertsFilter.js
  ui/src/components/CircleStatus.js
  ui/src/components/CommonLayoutStyle.js
  ui/src/components/NodeDetailsTab.js
  ui/src/components/NodeListTable.js
  ui/src/components/NodePageAlertsTab.js
  ui/src/components/NodePageOverviewTab.js
  ui/src/components/NodePagePodsTab.js
  ui/src/components/NodePageVolumesTab.js
  ui/src/components/VolumeListTable.js
  ui/src/constants.js
  ui/src/containers/Layout.js
  ui/src/containers/NodeCreateForm.js
  ui/src/containers/NodePageContent.js
  ui/src/containers/NodePageMetricsTab.js
  ui/src/containers/NodePageRSP.js
  ui/src/containers/VolumePageContent.js
  ui/src/ducks/app/monitoring.js
  ui/src/ducks/app/nodes.js
  ui/src/services/NodeUtils.js
  ui/src/services/k8s/core.js
  ui/src/services/utils.js
  ui/src/translations/en.json
  ui/src/translations/fr.json
Labels: topic:ui

#2904 salt: Minor downgrade do not need to be disabled on 2.7
  salt/metalk8s/defaults.yaml
Labels: complexity:easy, kind:bug
