Repository scality/metalk8s, pull requests merged in 2020-06, with the labels that each got.

#2605 CVE-2020-13379: Upgrade Grafana image to 6.7.4
  CHANGELOG.md
  buildchain/buildchain/versions.py
  charts/prometheus-operator.yaml
  salt/metalk8s/addons/prometheus-operator/deployed/chart.sls
Labels: complexity:easy, kind:dependencies, priority:high, release:blocker, severity:critical, topic:monitoring, topic:security

#2635 Tighten storage-operator permissions against Salt
  eve/create-volumes.sh
  salt/metalk8s/salt/master/files/master-99-metalk8s.conf.j2
  storage-operator/deploy/role.yaml
  tests/post/features/salt_api.feature
  tests/post/steps/test_salt_api.py
Labels: release:blocker, topic:salt, topic:security, topic:tests

#2534 salt: Generate custom kubeconfig for Salt Master
  CHANGELOG.md
  buildchain/buildchain/salt_tree.py
  salt/_modules/metalk8s.py
  salt/_pillar/metalk8s_nodes.py
  salt/_roster/kubernetes_nodes.py
  salt/_utils/kubernetes_utils.py
  salt/metalk8s/kubernetes/apiserver-proxy/installed.sls
  salt/metalk8s/kubernetes/apiserver/pre-upgrade.sls
  salt/metalk8s/kubernetes/sa/advertised.sls
  salt/metalk8s/orchestrate/bootstrap/init.sls
  salt/metalk8s/orchestrate/bootstrap/pre-downgrade.sls
  salt/metalk8s/orchestrate/bootstrap/pre-upgrade.sls
  salt/metalk8s/orchestrate/upgrade/pre.sls
  salt/metalk8s/roles/bootstrap/init.sls
  salt/metalk8s/roles/bootstrap/local.sls
  salt/metalk8s/roles/internal/early-stage-bootstrap.sls
  salt/metalk8s/salt/master/configured.sls
  salt/metalk8s/salt/master/files/master-99-metalk8s.conf.j2
  salt/metalk8s/salt/master/files/salt-master-manifest.yaml.j2
  salt/metalk8s/salt/master/init.sls
  salt/metalk8s/salt/master/kubeconfig.sls
  scripts/bootstrap.sh.in
  scripts/downgrade.sh.in
  scripts/restore.sh.in
  scripts/upgrade.sh.in
Labels: complexity:easy, kind:bug, kind:debt, topic:deployment, topic:lifecycle

#2643 eve: Rename `minor` section to `minor dev` in TestRail
  eve/main.yml
  eve/testrail_description_file.yaml
Labels: complexity:easy, kind:internal, topic:ci, topic:tests
