Repository scality/metalk8s, pull requests merged in 2020-04, with the labels that each got.

#2316 [security] Upgrade PyYAML from 5.1 to 5.3.1 (and other dependencies)
  buildchain/requirements-Darwin.txt
  buildchain/requirements-Linux.txt
  buildchain/requirements-dev.txt
  docs/requirements.txt
  tests/requirements.in
  tests/requirements.txt
Labels: kind:dependencies, topic:security, topic:tests

#2376 eve: Add branch and commit revision to `text` in JUnit
  eve/main.yml
Labels: kind:internal, topic:ci

#2404 ci: Fix previous ISO download
  eve/main.yml
Labels: kind:bug, topic:ci

#2433 docs: Read version details from buildchain
  docs/conf.py
  docs/introduction.rst
  docs/quickstart/bootstrap.rst
  docs/quickstart/expansion.rst
Labels: kind:debt, topic:docs

#2432 Reinstate "-dev" suffix for 2.4.4
  VERSION
Labels: complexity:easy, kind:debt

#2438 Limit simultaneous install stages to 20
  eve/main.yml
Labels: kind:internal, topic:ci

#2435 scripts: Wait for a single Salt Master container
  scripts/common.sh
Labels: complexity:easy, kind:bug, topic:deployment, topic:flakiness

#2399 docs: Add design choices for Centralized CLI
  docs/developer/architecture/centralized-cli.rst
Labels: kind:design, topic:docs
