Repository scality/metalk8s, pull requests merged in 2020-05, with the labels that each got.

#2521 [external] Add missing spaces in documentation table
  docs/installation/introduction.rst
Labels: complexity:easy, kind:bug, topic:docs

#2529 ui/oidc: Add 'groups' scope when requesting an id_token from Dex
  ui/src/ducks/config.js
Labels: complexity:easy, kind:bug, topic:authentication, topic:ui

#2531 salt/drain: Handle retryable errors when evicting
  salt/_modules/metalk8s_drain.py
Labels: complexity:easy, kind:bug, topic:lifecycle

#2536 Add a sleep between failed eviction attempts, and add more logs to drain module
  salt/_modules/metalk8s_drain.py
Labels: complexity:easy, kind:debt, topic:deployment, topic:lifecycle, topic:operations

#2540 docs: Add step to downgrade Salt if needed
  docs/operation/downgrade.rst
Labels: complexity:easy, kind:bug, release:blocker, topic:docs

#2543 salt/solutions: Fix Operator Role rendering
  salt/metalk8s/orchestrate/solutions/prepare-environment.sls
Labels: complexity:easy, kind:bug, topic:solutions

#2549 Upgrade Salt to `3000.3`
  buildchain/buildchain/versions.py
  images/salt-master/Dockerfile
Labels: complexity:easy, kind:enhancement, topic:build, topic:deployment

#2554 Support python-kubernetes client v11
  salt/_utils/kubernetes_utils.py
Labels: complexity:easy, kind:bug, priority:urgent, release:blocker, topic:deployment

#2555 salt: Fix apiserver-proxy upstreams
  salt/_modules/metalk8s.py
  salt/metalk8s/kubernetes/apiserver-proxy/files/apiserver-proxy.conf.j2
  salt/metalk8s/orchestrate/bootstrap/init.sls
Labels: complexity:easy, kind:bug, topic:deployment
