Repository scality/metalk8s, pull requests merged in 2020-07, with the labels that each got.

#2657 salt: Fix missing import in `metalk8s_cordon` salt module
  salt/_modules/metalk8s_cordon.py
Labels: complexity:easy, kind:bug, priority:medium, severity:minor, topic:salt

#2676 tox/tests: Bump tox minversion to 3.18.0
  tox.ini
Labels: complexity:easy, kind:bug, kind:dependencies, topic:tests, topic:tooling

#2688 eve: `test_tools` repo get migrated to github
  eve/main.yml
Labels: complexity:easy, kind:internal, topic:ci
