Repository scality/metalk8s, pull requests merged in 2020-12, with the labels that each got.

#2956 packages: bump `containerd` to 1.4.3
  CHANGELOG.md
  buildchain/buildchain/versions.py
  packages/redhat/containerd.spec
Labels: kind:dependencies, release:nice to have

#2235 Documentation/apply official theme
  buildchain/buildchain/docs.py
  docs/conf.py
  docs/index.rst
  docs/requirements.in
  docs/requirements.txt
  tox.ini
Labels: kind:enhancement, topic:build, topic:docs

#2959 git: Missing commits in `development/2.7`
  salt/metalk8s/kubernetes/kubelet/installed.sls
  salt/metalk8s/kubernetes/kubelet/standalone.sls
  salt/metalk8s/map.jinja
Labels: kind:internal

#2942 Bump dex to 2.24.0
  CHANGELOG.md
  buildchain/buildchain/versions.py
  charts/dex/Chart.yaml
  charts/dex/OWNERS
  charts/dex/README.md
  charts/dex/templates/deployment.yaml
  charts/dex/templates/job-grpc-certs.yaml
  charts/dex/templates/job-web-certs.yaml
  charts/dex/templates/secret.yaml
  charts/dex/values.yaml
  salt/metalk8s/addons/dex/deployed/chart.sls
Labels: complexity:easy, priority:medium, topic:authentication

#2965 docs: Re-use RTD theme when appropriate
  docs/conf.py
  eve/main.yml
Labels: complexity:easy, kind:internal, topic:build, topic:docs

#2973 build: Bump Kubernetes version to 1.18.13
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy, topic:build, topic:deployment

#2972 ci, tests: Ignore failed Pods if their equivalent is available
  eve/main.yml
  eve/wait_pods_stable.sh
  eve/wait_pods_status.sh
  tests/kube_utils.py
  tests/post/features/log_accessible.feature
  tests/post/features/pods_alive.feature
  tests/post/features/sanity.feature
  tests/post/steps/test_liveness.py
  tests/post/steps/test_logs.py
  tests/post/steps/test_sanity.py
Labels: kind:bug, topic:ci, topic:flakiness

#2975 salt, docs: Clean-up before 2.7.0 release
  buildchain/buildchain/salt_tree.py
  docs/operation/downgrade.rst
  docs/operation/upgrade.rst
  salt/metalk8s/addons/prometheus-operator/post-downgrade.sls
  salt/metalk8s/addons/prometheus-operator/pre-downgrade.sls
  salt/metalk8s/addons/prometheus-operator/pre-upgrade.sls
  salt/metalk8s/orchestrate/downgrade/pre.sls
  salt/metalk8s/orchestrate/upgrade/pre.sls
Labels: complexity:easy, kind:debt, release:nice to have, topic:docs, topic:lifecycle

#2986 buildchain, docs, salt, tests: update Python dependencies
  buildchain/buildchain/image.py
  buildchain/buildchain/packaging.py
  buildchain/platform-requirements.txt
  buildchain/requirements-Darwin.txt
  buildchain/requirements-Linux.txt
  buildchain/requirements-dev.txt
  buildchain/requirements.in
  buildchain/requirements.txt
  docs/requirements.txt
  doit.sh
  eve/workers/pod-linter/Dockerfile
  salt/metalk8s/volumes/prepared/files/sparse_volume_cleanup.py
  salt/tests/requirements.txt
  tests/requirements.in
  tests/requirements.txt
  tox.ini
Labels: complexity:easy, kind:dependencies, python, topic:build, topic:tests
