Repository scality/metalk8s, pull requests merged in 2020-01, with the labels that each got.

#2168 UI: Update react-debounce-input version
  ui/package-lock.json
  ui/package.json
Labels: easy, moonshot, ui

#2179 Add link to build requirements in README
  README.md
Labels: docs, easy, moonshot

#2189 build/debian: Fix Saltstack repository URL
  packages/debian/download_packages.py
Labels: bug, build, urgent
