Repository scality/metalk8s, pull requests merged in 2020-02, with the labels that each got.

#2228 Remove duplicate text in Upgrade doc
  docs/operation/downgrade.rst
  docs/operation/upgrade.rst
Labels: complexity:easy, kind:bug, topic:docs

#2231 docs: fix Docker build dependencies
  docs/Dockerfile
Labels: topic:build, topic:ci

#2239 ci: Upload final_status at the artifacts root
  eve/main.yml
Labels: topic:ci

#2253 calico: update to Calico 3.12.0
  CHANGELOG.md
  buildchain/buildchain/versions.py
  packages/redhat/calico-cni-plugin.spec
  salt/metalk8s/kubernetes/cni/calico/configured.sls
  salt/metalk8s/kubernetes/cni/calico/deployed.sls
Labels: complexity:easy, kind:dependencies, release:nice to have, topic:deployment, topic:networking
