Repository scality/metalk8s, pull requests merged in 2020-09, with the labels that each got.

#2769 charts: Update Log dashboard filter to really filter on system and pod logs
  charts/logs-dashboard.json
Labels: complexity:easy, kind:bug, topic:log

#2780 salt: Fix apiVersion of StorageClass to remove
  salt/metalk8s/addons/prometheus-operator/post-upgrade.sls
Labels: complexity:easy, kind:bug, topic:lifecycle, topic:salt

#2740 Collect I/O metrics from disk partitions and loop devices
  charts/prometheus-operator/values.yaml
  salt/metalk8s/addons/prometheus-operator/deployed/chart.sls
  tests/conftest.py
  tests/kube_utils.py
  tests/post/features/monitoring.feature
  tests/post/steps/conftest.py
  tests/post/steps/test_monitoring.py
  tests/post/steps/test_volume.py
  tests/utils.py
Labels: complexity:easy, kind:enhancement, topic:monitoring, topic:storage, topic:tests

#2801 ci: Fix environment vars for "retrieve ISO" step
  eve/main.yml
Labels: complexity:easy, kind:bug

#2804 Expose plain Dex configuration in CSC ConfigMap
  buildchain/buildchain/salt_tree.py
  charts/dex.yaml
  charts/loki.yaml
  charts/prometheus-operator.yaml
  charts/render.py
  docs/installation/services.rst
  docs/operation/account_administration.rst
  docs/operation/cluster_and_service_configuration.rst
  salt/metalk8s/addons/dex/config/dex.yaml
  salt/metalk8s/addons/dex/config/dex.yaml.j2
  salt/metalk8s/addons/dex/deployed/chart.sls
  salt/metalk8s/addons/dex/deployed/init.sls
  salt/metalk8s/addons/dex/deployed/secret.sls
  salt/metalk8s/addons/dex/deployed/service-configuration.sls
  salt/metalk8s/addons/logging/fluent-bit/deployed/configmap.sls
  salt/metalk8s/addons/logging/loki/config/loki.yaml
  salt/metalk8s/addons/logging/loki/deployed/chart.sls
  salt/metalk8s/addons/logging/loki/deployed/loki-configuration-secret.sls
  salt/metalk8s/addons/logging/loki/deployed/services.sls
  salt/metalk8s/addons/prometheus-operator/config/alertmanager.yaml
  salt/metalk8s/addons/prometheus-operator/config/grafana.yaml
  salt/metalk8s/addons/prometheus-operator/config/prometheus.yaml
  salt/metalk8s/addons/prometheus-operator/deployed/alertmanager-configuration-secret.sls
  salt/metalk8s/addons/prometheus-operator/deployed/chart.sls
  salt/metalk8s/addons/prometheus-operator/deployed/init.sls
  salt/metalk8s/addons/prometheus-operator/deployed/prometheus-rules.sls
  tests/post/features/service_configuration.feature
Labels: kind:enhancement, topic: cluster&service configuration, topic:authentication, topic:salt

#2812 salt: Do not remove existing taints when running mark-control-plane
  buildchain/buildchain/salt_tree.py
  salt/metalk8s/kubernetes/mark-control-plane/deployed.sls
  salt/metalk8s/kubernetes/mark-control-plane/deployed.sls.in
  salt/metalk8s/kubernetes/mark-control-plane/files/bootstrap_node_update.yaml.j2.in
Labels: complexity:medium, kind:bug, priority:medium, severity:medium, topic:deployment

#2814 [UI-improvement] Running the tasks to fetch graphs data in parallel
  ui/src/components/VolumeListTable.js
  ui/src/ducks/app/monitoring.js
Labels: topic:ui
