Repository scality/metalk8s, pull requests merged in 2020-08, with the labels that each got.

#2691 salt/tests: Add unit tests for `metalk8s_solutions` salt module
  salt/tests/unit/modules/files/test_metalk8s_solutions.yaml
  salt/tests/unit/modules/test_metalk8s_solutions.py
Labels: topic:salt, topic:tests

#2732 tests/salt: Add unit tests for metalk8s_monitoring
  salt/tests/unit/modules/files/test_metalk8s_monitoring.yaml
  salt/tests/unit/modules/test_metalk8s_monitoring.py
Labels: complexity:easy, kind:enhancement, topic:monitoring, topic:salt, topic:tests

#2700 salt/tests: Add unit tests for `metalk8s_drain`
  salt/_modules/metalk8s_drain.py
  salt/tests/unit/log_utils.py
  salt/tests/unit/mocks/__init__.py
  salt/tests/unit/mocks/kubernetes.py
  salt/tests/unit/modules/files/test_metalk8s_drain.yaml
  salt/tests/unit/modules/test_metalk8s.py
  salt/tests/unit/modules/test_metalk8s_drain.py
  salt/tests/unit/modules/test_metalk8s_grafana.py
  salt/tests/unit/modules/test_metalk8s_kubernetes.py
  salt/tests/unit/modules/test_metalk8s_kubernetes_utils.py
  salt/tests/unit/modules/test_metalk8s_package_manager_yum.py
  salt/tests/unit/modules/test_metalk8s_solutions.py
  salt/tests/unit/modules/test_metalk8s_solutions_k8s.py
  salt/tests/unit/modules/test_metalk8s_volumes.py
  salt/tests/unit/utils.py
Labels: complexity:medium, kind:debt, python, topic:salt, topic:tests

#2737 tests: Pin virtualenv version for tox
  tox.ini
Labels: complexity:easy, kind:bug, topic:tooling
