Repository scality/metalk8s, pull requests merged in 2020-11, with the labels that each got.

#2873 scripts: Ensure archive is mounted before bootstrap
  docs/installation/bootstrap.rst
  eve/main.yml
  scripts/bootstrap.sh.in
Labels: complexity:easy, kind:bug, topic:deployment

#2844 Expose Solution Operator config loading as a standalone Go module
  examples/metalk8s-solution-example/operator/cmd/manager/main.go
  examples/metalk8s-solution-example/operator/go.mod
  examples/metalk8s-solution-example/operator/go.sum
  examples/metalk8s-solution-example/operator/pkg/config/config.go
  examples/metalk8s-solution-example/operator/pkg/controller/clockserver/clockserver_controller.go
  examples/metalk8s-solution-example/operator/pkg/controller/controller.go
  examples/metalk8s-solution-example/operator/pkg/controller/util/baseserver.go
  examples/metalk8s-solution-example/operator/pkg/controller/versionserver/versionserver_controller.go
  go/solution-operator-lib/go.mod
  go/solution-operator-lib/go.sum
  go/solution-operator-lib/pkg/config/config.go
  go/solution-operator-lib/pkg/config/config_test.go
  go/solution-operator-lib/pkg/config/errors.go
  go/solution-operator-lib/pkg/config/testdata/error-bad-format.txt
  go/solution-operator-lib/pkg/config/testdata/invalid-bad-version.yaml
  go/solution-operator-lib/pkg/config/testdata/invalid-empty-version.yaml
  go/solution-operator-lib/pkg/config/testdata/invalid-no-apiversion.yaml
  go/solution-operator-lib/pkg/config/testdata/invalid-no-kind.yaml
  go/solution-operator-lib/pkg/config/testdata/invalid-no-repository.yaml
  go/solution-operator-lib/pkg/config/testdata/invalid-repository-bad-image.yaml
  go/solution-operator-lib/pkg/config/testdata/invalid-repository-no-endpoint.yaml
  go/solution-operator-lib/pkg/config/testdata/invalid-wrong-apiversion.yaml
  go/solution-operator-lib/pkg/config/testdata/invalid-wrong-kind.yaml
  go/solution-operator-lib/pkg/config/testdata/metalk8s-config.yaml
  go/solution-operator-lib/pkg/config/testdata/online-config.yaml
Labels: kind:enhancement, topic:solutions

#2923 build: Bump K8s version to 1.17.14
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy, topic:deployment

#2944 changelog: Update changelog with current `dev/2.7` status
  CHANGELOG.md
Labels: complexity:easy, kind:debt, topic:docs

#2947 build: Bump Kubernetes version to 1.18.12
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy, topic:deployment
