Repository scality/metalk8s, pull requests merged in 2021-09, with the labels that each got.

#3513 storage-operator: Re generate CRD for Volume using "v1" API
  buildchain/buildchain/codegen.py
  buildchain/buildchain/constants.py
  buildchain/buildchain/lint.py
  storage-operator/deploy/crds/storage.metalk8s.scality.com_volumes_crd.yaml
  storage-operator/pkg/apis/storage/v1alpha1/volume_types.go
Labels: topic:storage, complexity:easy, release:blocker

#3514 salt: Use `v1` APIVersion instead of `v1beta1` for `Ingress` objects
  charts/dex.yaml
  charts/kube-prometheus-stack.yaml
  charts/render.py
  salt/metalk8s/addons/dex/deployed/chart.sls
  salt/metalk8s/addons/prometheus-operator/deployed/chart.sls
  salt/metalk8s/addons/ui/deployed/ingress.sls
Labels: topic:networking, complexity:easy, release:blocker

#3527 build,packages,salt: Update Calico to 3.20.0
  CHANGELOG.md
  buildchain/buildchain/versions.py
  packages/redhat/common/calico-cni-plugin.spec
  salt/metalk8s/kubernetes/cni/calico/deployed.sls
Labels: topic:networking, complexity:easy, kind:dependencies

#3443 shell: Add defaultDexConnector option to automatically trigger login on a predefined Dex connector
  shell-ui/src/auth/AuthProvider.js
  shell-ui/src/initFederation/ConfigurationProviders.js
Labels: topic:ui

#3533 salt: Ensure we do not have multi cidr for Control Plane with MetalLB
  CHANGELOG.md
  salt/_pillar/metalk8s.py
Labels: kind:bug, topic:networking, complexity:easy

#3535 eve: Bump terraform-snapshot version to 0.3.0
  eve/main.yml
Labels: topic:ci, complexity:easy, kind:dependencies, kind:internal

#3538 build: Bump Kubernetes version to 1.22.2
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy, kind:dependencies
