Repository scality/metalk8s, pull requests merged in 2021-04, with the labels that each got.

#3260 shell-ui: Share events and logic with consumers
  shell-ui/src/UserDataListener.js
  shell-ui/src/UserDataListener.spec.js
  shell-ui/src/events.js
  shell-ui/src/index.js
  shell-ui/src/lang.js
  shell-ui/src/library.js
  shell-ui/src/theme.js
  shell-ui/webpack.config.dev.js
  ui/src/components/Navbar.js
Labels: topic:ui

#3283 salt: Mark our storage class as the default
  salt/metalk8s/addons/storageclass/deployed.sls
Labels: kind:enhancement, topic:storage

#3287 salt: Start salt-minion if not yet started as part of state
  salt/metalk8s/salt/minion/installed.sls
Labels: complexity:easy, kind:bug, topic:salt

#3282 ci: Always check embedded MD5 in ISO
  eve/main.yml
  eve/workers/openstack-basic/requirements.sh
  eve/workers/openstack-single-node/requirements.sh
Labels: complexity:easy, kind:debt, topic:ci

#3254 ui: Fix configuration when changing the basePath and fix permissions management in the navbar
  CHANGELOG.md
  docs/operation/cluster_and_service_configuration.rst
  salt/metalk8s/addons/dex/config/dex.yaml.j2
  salt/metalk8s/addons/ui/config/metalk8s-shell-ui-config.yaml.j2
  salt/metalk8s/addons/ui/deployed/ingress.sls
  salt/metalk8s/addons/ui/deployed/ui.sls.in
  shell-ui/babel.config.js
  shell-ui/package.json
  shell-ui/src/Navbar.spec.js
  shell-ui/src/auth/permissionUtils.js
Labels: topic:salt, topic:ui

#3289 eve: Add label role node when untaint node
  eve/main.yml
Labels: complexity:easy, kind:internal, topic:ci

#3198 tests/post: Reduce some flakiness
  docs/operation/account_administration/user_authentication_and_identity_management.rst
  tests/conftest.py
  tests/post/features/service_configuration.feature
  tests/post/steps/test_authentication.py
  tests/post/steps/test_service_configuration.py
  tests/utils.py
Labels: complexity:easy, kind:bug, topic: cluster&service configuration, topic:authentication, topic:ci, topic:flakiness, topic:tests

#3292 eve: Add label role node when untaint node
  eve/main.yml
Labels: kind:internal, topic:ci

#3300 ci: Move certificates renewal to post-merge
  eve/main.yml
Labels: kind:debt, topic:ci, topic:flakiness, topic:tests

#3299 salt: Add dedicated Ingress for MetalK8s docs
  salt/metalk8s/addons/ui/deployed/ingress.sls
Labels: complexity:easy, kind:bug, topic:docs, topic:salt, topic:ui

#3311 build: Bump Kubernetes version to 1.20.6
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy, kind:dependencies, topic:build, topic:deployment

#3312 csc, ui: Move navbar entries to user configuration
  salt/metalk8s/addons/ui/config/metalk8s-shell-ui-config.yaml.j2
  salt/metalk8s/addons/ui/deployed/ui-configuration.sls
Labels: complexity:easy, kind:enhancement, topic: cluster&service configuration, topic:ui

#3317 docs: fix `MetalK8` typo
  docs/operation/downgrade.rst
Labels: complexity:easy, topic:docs

#3309 Merge 2.9.0-alpha2 tag
  CHANGELOG.md
Labels: complexity:easy

#3320 salt/etcd: Increase number of check attempts
  salt/_states/metalk8s.py
  salt/metalk8s/orchestrate/etcd.sls
  salt/metalk8s/orchestrate/register_etcd.sls
Labels: kind:enhancement, topic:etcd, topic:flakiness

#3332 eve: Disable terraform plugins verification
  eve/main.yml
Labels: kind:bug, kind:internal, topic:ci

#3334 Bugfix/navbar entries order
  shell-ui/src/navbar/NavBar.js
  shell-ui/src/navbar/Navbar.spec.js
  shell-ui/src/navbar/index.js
Labels: topic:ui
