Repository scality/metalk8s, pull requests merged in 2021-01, with the labels that each got.

#3007 charts,build: update `prometheus-adapter` to 2.10.1
  CHANGELOG.md
  buildchain/buildchain/versions.py
  charts/prometheus-adapter/Chart.yaml
  charts/prometheus-adapter/OWNERS
  charts/prometheus-adapter/README.md
  charts/prometheus-adapter/templates/cluster-role-binding-auth-delegator.yaml
  charts/prometheus-adapter/templates/cluster-role-binding-resource-reader.yaml
  charts/prometheus-adapter/templates/cluster-role-resource-reader.yaml
  charts/prometheus-adapter/templates/configmap.yaml
  charts/prometheus-adapter/templates/custom-metrics-apiservice.yaml
  charts/prometheus-adapter/templates/custom-metrics-cluster-role-binding-hpa.yaml
  charts/prometheus-adapter/templates/deployment.yaml
  charts/prometheus-adapter/templates/external-metrics-apiservice.yaml
  charts/prometheus-adapter/templates/external-metrics-cluster-role-binding-hpa.yaml
  charts/prometheus-adapter/templates/pdb.yaml
  charts/prometheus-adapter/templates/psp.yaml
  charts/prometheus-adapter/templates/resource-metrics-apiservice.yaml
  charts/prometheus-adapter/templates/role-binding-auth-reader.yaml
  charts/prometheus-adapter/templates/service.yaml
  charts/prometheus-adapter/templates/serviceaccount.yaml
  charts/prometheus-adapter/values.yaml
  salt/metalk8s/addons/prometheus-adapter/deployed/chart.sls
Labels: complexity:easy, kind:debt, topic:monitoring

#3008 Init development/2.8
  CHANGELOG.md
  VERSION
  buildchain/buildchain/versions.py
  eve/main.yml
Labels: complexity:medium, kind:enhancement

#3010 Clean up development/2.8
  buildchain/buildchain/salt_tree.py
  eve/main.yml
  salt/metalk8s/addons/nginx-ingress-control-plane/post-upgrade-downgrade.sls
  salt/metalk8s/addons/nginx-ingress/post-upgrade-downgrade.sls
  salt/metalk8s/orchestrate/downgrade/init.sls
  salt/metalk8s/orchestrate/downgrade/post.sls
  salt/metalk8s/orchestrate/migrate_salt.sls
  salt/metalk8s/orchestrate/upgrade/init.sls
  salt/metalk8s/orchestrate/upgrade/post.sls
Labels: complexity:easy, kind:debt

#2976 Generate snapshot in the CI
  eve/main.yml
  eve/workers/openstack-terraform/requirements.sh
  eve/workers/openstack-terraform/terraform/generate_snapshot.sh
  eve/workers/openstack-terraform/terraform/nodes.tf
Labels: kind:internal

#3003 salt: Avoid duplicating static pod manifests
  salt/_modules/metalk8s.py
  salt/_states/metalk8s.py
  salt/tests/unit/modules/files/test_metalk8s.yaml
  salt/tests/unit/modules/test_metalk8s.py
Labels: complexity:easy, kind:bug, severity:medium, topic:deployment, topic:flakiness, topic:salt

#3020 Ensure containerd is ready before importing container image
  CHANGELOG.md
  buildchain/buildchain/salt_tree.py
  salt/_modules/cri.py
  salt/metalk8s/container-engine/containerd/configured.sls
  salt/metalk8s/container-engine/containerd/installed.sls
  salt/metalk8s/container-engine/containerd/running.sls
  salt/metalk8s/container-engine/running.sls
  salt/metalk8s/repo/installed.sls
  salt/tests/unit/modules/test_cri.py
Labels: complexity:easy, kind:bug, topic:salt

#3023 Revert "eve: Deactivate minor version downgrade on this branch" dev/2.8
  eve/main.yml
Labels: complexity:easy, kind:internal, topic:ci

#3029 Etcd upgrade do not stop on first failure in 2.7.0-dev+
  salt/metalk8s/orchestrate/etcd.sls
Labels: complexity:easy, kind:bug, topic:lifecycle

#3033 salt: Set salt-master timeout to 10 seconds
  CHANGELOG.md
  salt/metalk8s/salt/master/files/master-99-metalk8s.conf.j2
Labels: complexity:medium, kind:bug, topic:salt

#3035 build: Bump Kubernetes version to 1.18.15
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy

#3040 changelog: Fix entry style for 2.8.0
  CHANGELOG.md
Labels: complexity:easy, kind:debt

#3032 buildchain: embed ISO MD5 in the generated image
  CHANGELOG.md
  buildchain/buildchain/config.py
  buildchain/buildchain/iso.py
  docs/developer/building/requirements.rst
  docs/installation/bootstrap.rst
  eve/main.yml
  eve/workers/pod-builder/Dockerfile
Labels: complexity:easy, kind:enhancement, python, topic:build

#3034 changelog: Add missing entries for 2.6.1
  CHANGELOG.md
Labels: complexity:easy, topic:docs

#3037 build: Bump Kubernetes version to 1.19.7
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy

#3036 build: Bump Kubernetes version to 1.17.17
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy

#3047 buildchain,ui,deployment: use `nginx-alpine`
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy, kind:dependencies, topic:build, topic:deployment, topic:ui

#3048 salt: Fix Jinja variable definition
  salt/metalk8s/volumes/cleanup.sls
Labels: complexity:easy, kind:bug, topic:lifecycle, topic:salt

#3059 salt: Do not restart `salt-minion` process in background
  CHANGELOG.md
  salt/metalk8s/salt/minion/running.sls
Labels: complexity:medium, kind:bug, topic:flakiness, topic:lifecycle

#3061 Add linting for Salt SLS files
  .salt-lint
  buildchain/buildchain/lint.py
  salt/metalk8s/addons/dex/ca/advertised.sls
  salt/metalk8s/addons/dex/ca/installed.sls
  salt/metalk8s/addons/dex/certs/server.sls
  salt/metalk8s/addons/dex/deployed/service-configuration.sls
  salt/metalk8s/addons/nginx-ingress-control-plane/certs/server.sls
  salt/metalk8s/addons/nginx-ingress/ca/advertised.sls
  salt/metalk8s/addons/nginx-ingress/ca/installed.sls
  salt/metalk8s/addons/nginx-ingress/certs/server.sls
  salt/metalk8s/addons/prometheus-operator/deployed/prometheus-rules.sls
  salt/metalk8s/archives/mounted.sls
  salt/metalk8s/beacon/certificates.sls
  salt/metalk8s/container-engine/containerd/installed.sls
  salt/metalk8s/kubectl/configured.sls
  salt/metalk8s/kubernetes/apiserver/certs/etcd-client.sls
  salt/metalk8s/kubernetes/apiserver/certs/front-proxy-client.sls
  salt/metalk8s/kubernetes/apiserver/certs/kubelet-client.sls
  salt/metalk8s/kubernetes/apiserver/certs/server.sls
  salt/metalk8s/kubernetes/apiserver/cryptconfig.sls
  salt/metalk8s/kubernetes/ca/etcd/advertised.sls
  salt/metalk8s/kubernetes/ca/etcd/installed.sls
  salt/metalk8s/kubernetes/ca/front-proxy/advertised.sls
  salt/metalk8s/kubernetes/ca/front-proxy/installed.sls
  salt/metalk8s/kubernetes/ca/kubernetes/advertised.sls
  salt/metalk8s/kubernetes/ca/kubernetes/installed.sls
  salt/metalk8s/kubernetes/cni/calico/configured.sls
  salt/metalk8s/kubernetes/etcd/certs/healthcheck-client.sls
  salt/metalk8s/kubernetes/etcd/certs/peer.sls
  salt/metalk8s/kubernetes/etcd/certs/server.sls
  salt/metalk8s/kubernetes/etcd/installed.sls
  salt/metalk8s/kubernetes/kube-proxy/deployed.sls
  salt/metalk8s/kubernetes/kubelet/configured.sls
  salt/metalk8s/kubernetes/kubelet/standalone.sls
  salt/metalk8s/kubernetes/sa/advertised.sls
  salt/metalk8s/kubernetes/sa/installed.sls
  salt/metalk8s/orchestrate/downgrade/precheck.sls
  salt/metalk8s/orchestrate/solutions/deploy-components.sls
  salt/metalk8s/orchestrate/upgrade/precheck.sls
  salt/metalk8s/repo/debian.sls
  salt/metalk8s/salt/master/certs/etcd-client.sls
  salt/metalk8s/salt/master/certs/salt-api.sls
  salt/metalk8s/salt/minion/running.sls
  salt/metalk8s/volumes/installed.sls
  tox.ini
Labels: complexity:easy, kind:debt, kind:internal

#3062 tests: Remove unneeded assertion for ssh_config
  tests/kube_utils.py
Labels: complexity:easy, kind:bug, topic:tests
