Repository scality/metalk8s, pull requests merged in 2021-07, with the labels that each got.

#3438 charts,salt,build: Bump NGINX Ingress chart to 3.34.0
  CHANGELOG.md
  buildchain/buildchain/versions.py
  charts/ingress-nginx/CHANGELOG.md
  charts/ingress-nginx/Chart.yaml
  charts/ingress-nginx/templates/_helpers.tpl
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/role.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/rolebinding.yaml
  charts/ingress-nginx/templates/admission-webhooks/job-patch/serviceaccount.yaml
  charts/ingress-nginx/templates/controller-configmap-addheaders.yaml
  charts/ingress-nginx/templates/controller-configmap-proxyheaders.yaml
  charts/ingress-nginx/templates/controller-configmap-tcp.yaml
  charts/ingress-nginx/templates/controller-configmap-udp.yaml
  charts/ingress-nginx/templates/controller-configmap.yaml
  charts/ingress-nginx/templates/controller-daemonset.yaml
  charts/ingress-nginx/templates/controller-deployment.yaml
  charts/ingress-nginx/templates/controller-hpa.yaml
  charts/ingress-nginx/templates/controller-ingressclass.yaml
  charts/ingress-nginx/templates/controller-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/controller-role.yaml
  charts/ingress-nginx/templates/controller-rolebinding.yaml
  charts/ingress-nginx/templates/controller-service-internal.yaml
  charts/ingress-nginx/templates/controller-service-metrics.yaml
  charts/ingress-nginx/templates/controller-service-webhook.yaml
  charts/ingress-nginx/templates/controller-service.yaml
  charts/ingress-nginx/templates/controller-serviceaccount.yaml
  charts/ingress-nginx/templates/default-backend-deployment.yaml
  charts/ingress-nginx/templates/default-backend-hpa.yaml
  charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml
  charts/ingress-nginx/templates/default-backend-role.yaml
  charts/ingress-nginx/templates/default-backend-rolebinding.yaml
  charts/ingress-nginx/templates/default-backend-service.yaml
  charts/ingress-nginx/templates/default-backend-serviceaccount.yaml
  charts/ingress-nginx/values.yaml
  salt/metalk8s/addons/nginx-ingress-control-plane/deployed/chart-daemonset.sls
  salt/metalk8s/addons/nginx-ingress-control-plane/deployed/chart-deployment.sls
  salt/metalk8s/addons/nginx-ingress/deployed/chart.sls
Labels: complexity:easy, kind:dependencies

#3439 scripts/upgrade: Bump timeout for static pod restart
  scripts/upgrade.sh.in
Labels: complexity:easy, topic:flakiness, topic:lifecycle

#3450 Tests: Fix monitoring tests flakies
  tests/post/features/monitoring.feature
  tests/post/steps/test_monitoring.py
Labels: complexity:easy, topic:flakiness, topic:tests

#3452 build: Bump Kubernetes version to 1.21.3
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: kind:dependencies, topic:build

#3459 ci: Fix mismatch in "publish" stage names
  eve/main.yml
Labels: complexity:easy, kind:bug, kind:internal, topic:ci

#3453 Clean up development/2.11
  buildchain/buildchain/salt_tree.py
  salt/_pillar/metalk8s_endpoints.py
  salt/metalk8s/addons/dex/deployed/init.sls
  salt/metalk8s/addons/dex/deployed/pre-upgrade.sls
  salt/metalk8s/orchestrate/bootstrap/init.sls
  salt/metalk8s/orchestrate/downgrade/init.sls
  salt/metalk8s/salt/minion/configured.sls
  salt/tests/unit/formulas/data/base_pillar.yaml
  salt/tests/unit/formulas/data/kubernetes/base.yaml
  scripts/bootstrap.sh.in
  scripts/restore.sh.in
Labels: topic:lifecycle, topic:salt

#3460 pre-commit: Bump various versions
  .pre-commit-config.yaml
  buildchain/buildchain/targets/repository.py
  buildchain/buildchain/targets/serialize.py
  salt/_modules/metalk8s_volumes.py
  salt/_pillar/metalk8s.py
  salt/tests/unit/formulas/config.py
  salt/tests/unit/formulas/fixtures/kubernetes.py
Labels: complexity:easy, kind:internal, topic:build, topic:ci

#3461 Merge 2.10.0 tag
  CHANGELOG.md
  VERSION
Labels: complexity:easy, kind:internal

#3464 eve: Fix getting of previous minor version to latest tag
  eve/main.yml
Labels: kind:internal, topic:ci
