Repository scality/metalk8s, pull requests merged in 2021-03, with the labels that each got.

#3153 Backport multiple pre-checks in 2.7
  CHANGELOG.md
  buildchain/buildchain/iso.py
  salt/_modules/metalk8s.py
  salt/_modules/metalk8s_checks.py
  salt/_modules/metalk8s_package_manager_yum.py
  salt/metalk8s/defaults.yaml
  salt/metalk8s/macro.sls
  salt/metalk8s/map.jinja
  salt/metalk8s/orchestrate/deploy_node.sls
  salt/metalk8s/repo/redhat.sls
  salt/tests/unit/modules/files/test_metalk8s_checks.yaml
  salt/tests/unit/modules/files/test_metalk8s_package_manager_yum.yaml
  salt/tests/unit/modules/test_metalk8s.py
  salt/tests/unit/modules/test_metalk8s_checks.py
  salt/tests/unit/modules/test_metalk8s_package_manager_yum.py
  scripts/bootstrap.sh.in
  scripts/common.sh.in
  scripts/restore.sh.in
Labels: complexity:easy, kind:enhancement, topic:deployment, topic:salt

#3157 ci: Add multi node test for patch version upgrade + backport generate snapshot fixes
  eve/main.yml
  eve/workers/openstack-terraform/requirements.sh
Labels: complexity:easy, kind:internal, topic:ci, topic:lifecycle

#3174 images: install `qperf` in `metalk8s-utils`
  images/metalk8s-utils/Dockerfile
Labels: complexity:easy, kind:enhancement, release:nice to have, topic:networking, topic:operations, topic:tooling

#3200 eve: Always untaint node in CI when running on single node
  eve/main.yml
Labels: complexity:easy, kind:bug, kind:internal, topic:ci

#3154 UI make navbar options configurable and filter menu items according to user groups
  salt/metalk8s/addons/ui/deployed/ui.sls.in
  shell-ui/package-lock.json
  shell-ui/package.json
  shell-ui/public/shell/config.json
  shell-ui/src/NavBar.js
  shell-ui/src/Navbar.spec.js
  shell-ui/src/auth/permissionUtils.js
  shell-ui/src/auth/permissionUtils.spec.js
  shell-ui/src/index.js
  shell-ui/src/index.mdx
  shell-ui/src/setupTests.js
  ui/cypress/fixtures/shell-config.json
Labels: topic:ui

#3205 CI: Use `terraform-snapshot` repo and remove `openstack-terraform` eve worker
  eve/main.yml
  eve/workers/openstack-terraform/requirements.sh
  eve/workers/openstack-terraform/terraform/.gitignore
  eve/workers/openstack-terraform/terraform/common.tf
  eve/workers/openstack-terraform/terraform/generate_snapshot.sh
  eve/workers/openstack-terraform/terraform/image.tf
  eve/workers/openstack-terraform/terraform/network.tf
  eve/workers/openstack-terraform/terraform/nodes.tf
  eve/workers/openstack-terraform/terraform/provider.tf
  eve/workers/openstack-terraform/terraform/scripts/network.sh
  eve/workers/openstack-terraform/terraform/scripts/proxy-setup.sh
  eve/workers/openstack-terraform/terraform/scripts/rhsm-register.sh
  eve/workers/openstack-terraform/terraform/ssh.tf
  eve/workers/openstack-terraform/terraform/templates/ssh_config.tpl
  eve/workers/openstack-terraform/terraform/versions.tf
  ui/cypress/requirements.sh
Labels: complexity:medium, kind:internal, topic:ci

#3171 salt/tests: Add unit testing for Salt Jinja templates
  .pre-commit-config.yaml
  .pylint-dict
  buildchain/buildchain/config.py
  buildchain/buildchain/salt_tree.py
  buildchain/buildchain/shell_ui.py
  buildchain/buildchain/targets/serialize.py
  buildchain/buildchain/ui.py
  buildchain/buildchain/versions.py
  docs/developer/development/best_practices/commit.rst
  docs/developer/development/best_practices/index.rst
  docs/developer/development/best_practices/python.rst
  docs/developer/development/index.rst
  docs/developer/development/testing/ci.rst
  docs/developer/development/testing/formulas-unit.rst
  docs/developer/development/testing/index.rst
  salt/metalk8s/addons/ui/deployed/files/metalk8s-ui-deployment.yaml.j2
  salt/metalk8s/addons/ui/deployed/ui.sls.in
  salt/metalk8s/kubernetes/apiserver/installed.sls
  salt/metalk8s/kubernetes/controller-manager/installed.sls
  salt/metalk8s/kubernetes/etcd/files/manifest.yaml.j2
  salt/metalk8s/kubernetes/etcd/installed.sls
  salt/metalk8s/kubernetes/files/control-plane-manifest.yaml.j2
  salt/metalk8s/kubernetes/kubelet/configured.sls
  salt/metalk8s/kubernetes/kubelet/files/kubeadm.env.j2
  salt/metalk8s/kubernetes/kubelet/files/service-standalone-systemd.conf.j2
  salt/metalk8s/kubernetes/kubelet/files/service-systemd.conf.j2
  salt/metalk8s/kubernetes/kubelet/standalone.sls
  salt/metalk8s/kubernetes/scheduler/installed.sls
  salt/metalk8s/orchestrate/solutions/files/operator/configmap.yaml.j2
  salt/metalk8s/orchestrate/solutions/files/operator/deployment.yaml.j2
  salt/metalk8s/orchestrate/solutions/files/operator/role_binding.yaml.j2
  salt/metalk8s/orchestrate/solutions/files/operator/service_account.yaml.j2
  salt/metalk8s/orchestrate/solutions/prepare-environment.sls
  salt/tests/pytest.ini
  salt/tests/unit/formulas/README.rst
  salt/tests/unit/formulas/__init__.py
  salt/tests/unit/formulas/config.py
  salt/tests/unit/formulas/config.yaml
  salt/tests/unit/formulas/conftest.py
  salt/tests/unit/formulas/data/base_grains.yaml
  salt/tests/unit/formulas/data/base_pillar.yaml
  salt/tests/unit/formulas/data/kubernetes/base.yaml
  salt/tests/unit/formulas/fixtures/__init__.py
  salt/tests/unit/formulas/fixtures/context.py
  salt/tests/unit/formulas/fixtures/data.py
  salt/tests/unit/formulas/fixtures/environment.py
  salt/tests/unit/formulas/fixtures/kubernetes.py
  salt/tests/unit/formulas/fixtures/salt.py
  salt/tests/unit/formulas/fixtures/templates.py
  salt/tests/unit/formulas/paths.py
  salt/tests/unit/formulas/test_formulas.py
Labels: complexity:hard, kind:enhancement, topic:salt, topic:tests

#3181 salt: Use csc framework for UI configuration
  .pre-commit-config.yaml
  .pylint-dict
  buildchain/buildchain/salt_tree.py
  buildchain/buildchain/shell_ui.py
  docs/developer/architecture/configurations.rst
  docs/operation/cluster_and_service_configuration.rst
  salt/metalk8s/addons/ui/config/metalk8s-shell-ui-config.yaml.j2
  salt/metalk8s/addons/ui/config/metalk8s-theme.yaml.in
  salt/metalk8s/addons/ui/config/metalk8s-ui-config.yaml
  salt/metalk8s/addons/ui/deployed/ingress.sls
  salt/metalk8s/addons/ui/deployed/init.sls
  salt/metalk8s/addons/ui/deployed/ui-configuration.sls
  salt/metalk8s/addons/ui/deployed/ui.sls.in
  salt/metalk8s/service-configuration/deployed/init.sls
  salt/tests/unit/formulas/conftest.py
  salt/tests/unit/formulas/fixtures/data.py
  salt/tests/unit/formulas/fixtures/environment.py
Labels: topic:salt

#3224 salt: Do not interpolate when parsing sysctl config files
  CHANGELOG.md
  salt/_modules/metalk8s_sysctl.py
  salt/tests/unit/modules/files/test_metalk8s_sysctl.yaml
Labels: complexity:easy, kind:bug, topic:salt

#3248 build: Bump Salt version to 3002.6
  CHANGELOG.md
  buildchain/buildchain/versions.py
  salt/tests/requirements.in
  salt/tests/requirements.txt
Labels: complexity:easy, kind:dependencies, topic:salt
