Repository scality/metalk8s, pull requests merged in 2021-05, with the labels that each got.

#3343 tests(deps): Bump `rsa` to 4.7
  tests/requirements.in
  tests/requirements.txt
Labels: kind:dependencies

#3351 docs: Ensure we always output an index.html
  docs/conf.py
  docs/index-latex.rst
  docs/index-release.rst
  docs/index.rst
  docs/requirements.in
  docs/requirements.txt
  docs/toctree.rst.j2
Labels: complexity:easy, topic:build, topic:docs, topic:ui

#3359 build: Expand Dockerfile globs properly
  buildchain/buildchain/targets/local_image.py
Labels: complexity:easy, kind:bug, topic:build

#3364 Bump fluent-bit chart version
  CHANGELOG.md
  buildchain/buildchain/versions.py
  charts/fluent-bit/Chart.yaml
  charts/fluent-bit/README.md
  charts/fluent-bit/templates/configmap.yaml
  charts/fluent-bit/values.yaml
  salt/metalk8s/addons/logging/fluent-bit/deployed/chart.sls
  salt/metalk8s/addons/logging/fluent-bit/deployed/configmap.sls
Labels: kind:dependencies

#3378 Bump Calico version
  CHANGELOG.md
  buildchain/buildchain/versions.py
  packages/redhat/common/calico-cni-plugin.spec
  salt/metalk8s/kubernetes/cni/calico/deployed.sls
Labels: kind:dependencies

#3389 [ci] Fix post merge multi node upgrade and certificate renewal
  eve/main.yml
Labels: kind:internal, topic:ci

#3396 salt: Support `127.0.0.1` hostPort
  CHANGELOG.md
  salt/metalk8s/kubernetes/cni/calico/configured.sls
Labels: complexity:easy, topic:deployment, topic:networking

#3390 ui: Switch bundling from create react app to webpack 5
  buildchain/buildchain/ui.py
  docs/developer/running/ui.rst
  eve/workers/pod-integration-tests/ui/app.Dockerfile
  shell-ui/public/shell/config.json
  shell-ui/src/alerts/Alerts.spec.js
  shell-ui/src/alerts/index.mdx
  shell-ui/src/alerts/library.js
  shell-ui/src/alerts/services/alertHooks.test.js
  shell-ui/src/navbar/index.js
  shell-ui/src/navbar/library.js
  shell-ui/src/platform/library.js
  shell-ui/src/platform/service/k8s.spec.js
  ui/.babelrc
  ui/README.md
  ui/config-overrides.js
  ui/package-lock.json
  ui/package.json
  ui/public/config.json
  ui/src/containers/CreateVolume.js
  ui/src/ducks/config.test.js
  ui/src/index.css
  ui/src/index.html
  ui/src/index.js
  ui/src/setupTests.js
  ui/webpack.common.js
  ui/webpack.dev.js
  ui/webpack.prod.js
Labels: topic:ui
