Repository scality/metalk8s, pull requests merged in 2021-02, with the labels that each got.

#3076 salt: Check Service CIDR has a route declared
  CHANGELOG.md
  salt/_modules/metalk8s_checks.py
  salt/tests/unit/modules/files/test_metalk8s_checks.yaml
  salt/tests/unit/modules/test_metalk8s_checks.py
Labels: kind:enhancement, topic:deployment, topic:networking

#3099 CI: Properly handle 404 when retrieving ISOs, sleep a bit after etcd node deletion in Bootstrap restore
  eve/main.yml
Labels: complexity:easy, kind:internal, topic:ci

#3102 Merge 2.7.1 tag
  CHANGELOG.md
  VERSION
Labels: complexity:easy

#3105 Upgrade: Wait properly for containers to be "running" after bootstrap kubelet upgrade
  CHANGELOG.md
  salt/_modules/cri.py
  salt/metalk8s/salt/master/files/master-99-metalk8s.conf.j2
  salt/tests/unit/modules/test_cri.py
  scripts/upgrade.sh.in
Labels: complexity:easy, topic:flakiness, topic:lifecycle

#3101 Fix snapshot generation in CI
  eve/main.yml
  eve/workers/openstack-terraform/requirements.sh
Labels: complexity:easy, kind:bug, kind:internal, topic:ci

#3107 Bootstrap restore: Fix few issues
  scripts/bootstrap.sh.in
  scripts/common.sh.in
  scripts/restore.sh.in
Labels: complexity:medium, kind:bug, topic:lifecycle

#3111 eve: Use `yum clean all` instead of setup proxy cache
  eve/main.yml
Labels: complexity:easy, kind:internal, priority:high, topic:ci

#3112 CI: Bump some timeouts, ... to reduce flakiness
  eve/main.yml
  eve/wait_pods_stable.sh
  tests/post/steps/conftest.py
Labels: complexity:easy, topic:ci, topic:flakiness, topic:tests

#3113 tests: Harden certificate beacon tests
  tests/test-certificates-beacon.sh
Labels: complexity:easy, topic:tests

#3126 ci: Bump timeout for nginx ingress tests + remove "NodeAffinity" pods in Ci
  eve/main.yml
  tests/post/steps/test_authentication.py
Labels: complexity:easy, topic:ci, topic:flakiness, topic:tests

#3130 tests: update `cryptography`
  tests/requirements.in
  tests/requirements.txt
Labels: kind:dependencies

#3131 deps: update CentOS-based images to 7.9.2009
  buildchain/buildchain/versions.py
Labels: kind:dependencies

#3133 ui/alerts: Fix the alert display issue
  ui/src/components/NodePageAlertsTab.js
  ui/src/components/VolumeAlertsTab.js
  ui/src/containers/ClusterMonitoring.js
Labels: complexity:easy, kind:bug, topic:monitoring, topic:ui

#3132 build: Bump Kubernetes version to 1.18.16
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy, kind:enhancement

#3136 salt,charts: Set Alertmanager Secret name
  charts/kube-prometheus-stack.yaml
  salt/metalk8s/addons/prometheus-operator/deployed/chart.sls
Labels: complexity:easy

#3138 build: Bump Kubernetes version to 1.19.8
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy, kind:enhancement

#3140 build: Bump Kubernetes version to 1.16.15
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: complexity:easy, kind:enhancement

#3143 Merge 2.5.2 tag
  CHANGELOG.md
  VERSION
Labels: complexity:easy

#3141 eve: Properly handle multi pods in NodeAffinity in the same ns
  eve/main.yml
Labels: complexity:easy, kind:bug, kind:internal, topic:ci

#3144 Merge 2.6.1 tag
  CHANGELOG.md
  VERSION
Labels: complexity:easy

#3139 Init development/2.9
  CHANGELOG.md
  buildchain/buildchain/versions.py
  salt/metalk8s/kubernetes/apiserver/installed.sls
Labels: complexity:easy, kind:enhancement, topic:deployment

#3145 Merge 2.7.2 tag
  CHANGELOG.md
  VERSION
Labels: complexity:easy

#3148 salt: Wait properly after apiserver restart
  salt/metalk8s/kubernetes/apiserver/installed.sls
Labels: complexity:easy, topic:lifecycle, topic:salt
