Repository scality/metalk8s, pull requests merged in 2021-08, with the labels that each got.

#3483 List Grafana dashboard UIDs, enforce them, and use them in MetalK8s UI links
  charts/grafana_dashboard_uids.json
  charts/render.py
  salt/metalk8s/addons/prometheus-operator/deployed/chart.sls
  salt/metalk8s/addons/prometheus-operator/deployed/files/node-exporter-full.json
  tests/conftest.py
  tests/post/features/monitoring.feature
  tests/post/steps/test_monitoring.py
  tests/utils.py
  ui/cypress/integration/node/nodetabs.spec.js
  ui/cypress/integration/volume/volumetabs.spec.js
  ui/src/components/DashboardMetrics.js
  ui/src/components/NodePagePartitionTab.js
  ui/src/components/NodePagePodsTab.js
  ui/src/components/VolumeMetricsTab.js
  ui/src/constants.js
  ui/src/containers/NodePageMetricsTab.js
Labels: kind:bug, topic:ui, complexity:medium, topic:monitoring, javascript, python

#3486 images: Ensure /docs/ is well interpreted by metalk8s-ui
  CHANGELOG.md
  images/metalk8s-ui/conf/nginx.conf
Labels: kind:bug

#3466 build, packages: bump `containerd` to 1.4.8
  CHANGELOG.md
  buildchain/buildchain/versions.py
  packages/redhat/common/containerd.spec
Labels: kind:enhancement, topic:build, complexity:easy, kind:dependencies

#3488 Migrate APIService from `apiregistration.k8s.io/v1beta1` to `apiregistration.k8s.io/v1`
  charts/render.py
  salt/metalk8s/addons/prometheus-adapter/deployed/chart.sls
Labels: kind:debt, complexity:easy

#3495 build: Bump Kubernetes version to 1.21.4
  CHANGELOG.md
  buildchain/buildchain/versions.py
Labels: topic:build, complexity:easy, kind:dependencies

#3498 salt: Clean old Grafana dashboards on [up|down]grade
  salt/metalk8s/addons/prometheus-operator/post-cleanup.sls
Labels: kind:bug, topic:lifecycle, complexity:easy, topic:monitoring
